body {
  overflow: hidden;
}

.welcome.even {
  background-color: #2196f3;
}

.welcome.odd {
  background-color: #ffffff;
}

.slide {
  background-size: 100% 100%;
  height: 100%;
}

.slider {
  height: 90%;
}

.startnav {
  position: fixed;
  height: 10%;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.card-media {
  background: grey;
}

.nonDraggableImage {
  -webkit-user-drag: none;
}

.dots a {
  position: relative;
  display: inline-block;
  background: grey;
  margin: 0 8px;
  width: 12px;
  height: 12px;
  zoom: 1; top: 2px;
  left: 2px;
  text-indent: 100%;
  border: 1px solid transparent;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}

.dots a.active {
  border-color: cyan;
  background-color: cyan;
}

.content {
  overflow-y: auto;
}

#header {
  background: #FFFFFF;
  border-bottom: 1px solid #337AB7;
  height: 5%;
}

#header .tohome {
  border-right: 1px solid;
  vertical-align: middle;
}

#header input {
  border-radius: 5px;
  padding: 1% 3%;
  width: 100%;
  border: 1px solid #337AB7;
  height: 100%;
}

#header div {
  top: 5%;
  height: 90%;
}

.showNotifications {
  padding: 7px 30px;
  border-left: 1px solid #337AB7;
  /* margin-left: 2px; */
  top: 5%;
  background-size: 100% 100%;
}

.showUserOptions {
  padding: 7px 30px;
  border-left: 1px solid #337AB7;
  top: 5%;
  background-size: 100% 100%;
}

.showlauncher {
  padding: 0px;
  border-left: 1px solid #337AB7;
  top: 5%;
  background-size: 100% 100%;
}

#showmenu:hover {
  background-color: blue;
}

#Launcher {
  padding: 0%;
  background: white;
  overflow-y: hidden;
}

#Views {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(0,0,0,0.1);
  height: 100%;
  overflow-y: auto;
}

#Launcher > #prevview {
  border: 0px solid;
  outline: none;
  background: rgba(0,0,0,0.1);
  height: 100%;
  font-size: 26px;
  padding: 0px;
}

#Launcher > #nextview {
  border: 0px solid;
  background: rgba(0,0,0,0.1);
  outline: none;
  height: 100%;
  font-size: 26px;
  padding: 0px;
}

#Launcher > #prevview:hover, #Launcher > #nextview:hover {
  color: white;
  background: rgba(0,0,0,0.2);
}

#footer {
  /*border-top: 1px solid rgb(231, 231, 231);*/
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
  position: fixed;
  right: 0;
  left: 0;
  min-height: 50px;
  z-index: 1030;
}

#launcher {
  position: absolute;
  padding: 0%;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 10;
}

#desktop {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 0;
}

.view {
  background-size: 100% 100%;
  height: 100%;
  padding: 1%;
  /* opacity: 0.1; */
}

.appsview {
  background: white;
  background-size: 100% 100%;
  height: 100%;
  overflow-y: auto;
  /* padding: 3% 4%; */
}

#misc {
  height: 100%;
}

#Tabs {
  height: 100%;
  margin: 0%;
}

#lockerapp {
}

.md-top-toolbar {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.md-slim-toolbar {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  max-height: 35px;
  min-height: 20px;
}

.overflowscroll-y {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:horizontal {
  width: 3px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.overflowscroll-x {
  overflow-x: auto;
}

.movienav {
  background-color: rgb(236, 236, 236);
  border-bottom: 2px solid #3F51B5;
  border-right: 2px solid #3F51B5;
}

.moviecontent {
}

.nopading {
  padding: 0;
}

.nomargin {
  margin: 0;
}

.Tab {
  position: relative;
  height: 9%;
  background: rgba(0,0,0,0.1);
  border-radius: 0%;
  padding: 0%;
  width: 11%;
  margin-left: 1%;
  margin-right: 1%;
}

.Tab.active {
  background: grey;
}

.Tab:hover {
  background: grey;
}

#tabs {
  border-bottom: 1px solid grey;
  height: 10%;
  width: 100%;
  margin: 0%;
}

.tab {
  position: relative;
  height: 100%;
  border-right: 1px solid;
  border-radius: 0%;
  padding: 0%;
}

.tab.active {
  border-bottom: 5px solid #1093F1;
}

.appdock {
}

.Icon {
  margin: 10px;
  /* float: left; */
  border: 1px solid #eef;
  padding: 15px 0px 7px 0px;
}

.Icon > span {
  font-size: 3em;
}

.Icon:hover {
  text-decoration: none
}

.icon {
  position: relative;
  border-radius: 20px;
  min-height: 10%;
  margin: 5px;
  padding: 5px;
  float: left;
  min-width: 10%;
  background: white;
}

.app {
  max-height: 100%;
  overflow: hidden;
}

#appsapp {
  padding-bottom: 70px;
}

#moviesapp > .md-sidenav-left {
  min-width: 60px;
  max-width: 60px;
}

#moviesapp > .player {
  position: absolute;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.player .screen {
  position: relative;
  width: 80%;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 80%;
}

.screen .controls {
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  height: 6%;
  bottom: 0%;
  position: absolute;
}

.screen .controls .playercontrols {
  width: 50%;
  position: relative;
  height: 100%;
  float: left;
}

.screen .controls .displaycontrols {
  width: 50%;
  float: left;
  position: relative;
  height: 100%;
}

.searchresults {
  position: absolute;
  padding: 0%;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0);
  z-index: 10;
}

.no-select * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-drag * {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

.dialog-actions {
  background-color: rgba(51, 122, 231, 0.1);
}

.xs-pic {
  max-height: 222px;
  max-width: 150px;
}

.sm-pic {
  max-height: 222px;
  max-width: 150px;
}

.md-pic {
  max-height: 444px;
  max-width: 300px;
}

.lg-pic {
  min-height: 688px;
  min-width: 400px;
}

/* FORMS
============================================================================= */
.pageheader {
  position: fixed;
  width: 100%;
  padding-bottom: 9px;
  margin: -60px 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 10;
}

.pagebody {
  position: relative;
  margin-top: 40px;
  width: 100%;
  padding-top: 10px;
}

.signin-form-devices li {
  list-style: none;
}

#signinForm {
  overflow-y: auto;
}

#signuperror {
  margin-top: 10px;
  margin-bottom: 10p;
  border-bottom: 1px solid #eee;
}

#signinerror {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

#form-container {
  overflow-y: auto;
  height: 86%;
  width: auto;
  overflow-x: auto;
}

.leftnav {
  position: absolute;
  top: 70px;
  bottom: 0px;
  margin-right: 0;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.1);
}

a.md-button.md-default-theme.md-success.md-raised, a.md-button.md-success.md-raised, a.md-button.md-default-theme.md-success.md-fab, a.md-button.md-success.md-fab, .md-button.md-default-theme.md-success.md-raised, .md-button.md-success.md-raised, .md-button.md-default-theme.md-success.md-fab, .md-button.md-success.md-fab {
  color: rgba(255,255,255,0.87);
  background-color: rgb(63,81,181);
}

#subscriptions {
  text-align: center;
}

#subscriptions th {
  font-weight: lighter;
}

#subscriptions thead tr {
  border-top-style: none;
}

#subscriptions thead tr td {
  font-weight: bold;
  padding: 20px;
  font-size: 16px;
}

#subscriptions thead tr td:nth-child(6) {
  color: rgb(255, 255, 255);
  border-top-width: 3px !important;
  border-top-style: solid !important;
  border-top-color: rgb(214, 179, 7) !important;
  background-color: rgb(214, 179, 7);
}

#subscriptions thead tr td:nth-child(4) {
  color: rgb(255, 255, 255);
  border-top-width: 3px !important;
  border-top-style: solid !important;
  border-top-color: rgb(14, 129, 195) !important;
  background-color: rgb(14, 129, 195);
}

#subscriptions thead tr td:nth-child(2) {
  color: rgb(255, 255, 255);
  border-top-width: 3px !important;
  border-top-style: solid !important;
  border-top-color: rgb(39, 174, 96) !important;
  background-color: rgb(39, 174, 96);
}

#subscriptions tbody tr th {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(229, 229, 229);
}

#subscriptions tbody th {
  vertical-align: middle;
}

#subscriptions tbody th:nth-child(1):last-child {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(229, 229, 229);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(229, 229, 229);
}

#subscriptions tbody td {
  padding: 15px;
  vertical-align: middle;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(229, 229, 229);
}

#subscriptions .fa-times {
  background-color: white;
  color: rgb(221,44,0);
}

#subscriptions .fa-check {
  background-color: white;
  color: rgb(39, 174, 96);
}

#subscriptions td:nth-child(6) {
  color: rgb(39, 174, 96);
  border-left-width: 3px !important;
  border-left-style: solid !important;
  border-left-color: rgb(214, 179, 7) !important;
  border-right-width: 3px !important;
  border-right-style: solid !important;
  border-right-color: rgb(214, 179, 7) !important;
}

#subscriptions td:nth-child(4) {
  border-left-width: 3px !important;
  border-left-style: solid !important;
  border-left-color: rgb(14, 129, 195) !important;
  border-right-width: 3px !important;
  border-right-style: solid !important;
  border-right-color: rgb(14, 129, 195) !important;
}

#subscriptions td:nth-child(2) {
  border-left-width: 3px !important;
  border-left-style: solid !important;
  border-left-color: rgb(39, 174, 96) !important;
  border-right-width: 3px !important;
  border-right-style: solid !important;
  border-right-color: rgb(39, 174, 96) !important;
}

#subscriptions td:nth-child(6) .md-button {
  color: white;
  background-color: rgb(214, 179, 7);
}

#subscriptions td:nth-child(4) .md-button {
  color: white;
  background-color: rgb(14, 129, 195);
}

#subscriptions td:nth-child(2) .md-button {
  color: white;
  background-color: rgb(39, 174, 96);
}

#subscriptions tbody tr:last-child td:nth-child(6) {
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgb(214, 179, 7) !important;
}

#subscriptions tbody tr:last-child td:nth-child(4) {
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgb(14, 129, 195) !important;
}

#subscriptions tbody tr:last-child td:nth-child(2) {
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgb(39, 174, 96) !important;
}

md-toolbar.dangerToolBar {
  background-color: red;
}

.warnToolBar {
  background-color: rgb(214, 179, 7);
}

.successToolBar {
  background-color: rgb(39, 174, 96);
}

.danger {
  color: rgb(255, 1, 1);
}

.warning {
  color: rgb(214, 179, 7);
}

.success {
  color: rgb(39, 174, 96);
}

.sky {
  color: #337aE7;
}

.md-button.danger {
  color: white;
  background-color: red;
}

.md-button.success {
  color: white;
  background-color: rgb(39, 174, 96);
}

.md-button.sky {
  color: white;
  background-color: #337aE7;
}

.md-button.sky:hover, .md-button.danger:hover, .md-button.success:hover {
  color: rgb(39, 174, 96);
}

.md-button.sky:focus, .md-button.danger:focus, .md-button.success:focus {
  color: rgb(39, 174, 96);
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 0;
  margin: 5px;
}

#messages li.sent {
  background: #b0eda2;
  text-align: right;
}

#messages li.recieved {
  background: #fcff9f;
  text-align: left;
}

#messages li.sent div.message {
  padding: 0;
  margin: 0;
  background: #fff;
  text-align: right;
}

#messages li.recieved div.message {
  padding: 0;
  margin: 0;
  background: #fff;
  text-align: left;
}

#messages li.sent div.message div.text {
  border-top-left-radius: 25px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 25px;
  padding: 0px 10px;
  background: #b0eda2;
  text-align: right;
}

#messages li.recieved div.message div.text {
  border-top-left-radius: 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0px 10px;
  background: #fcff9f;
  text-align: left;
}

#messages li div.details {
  font-size: 12px;
}

#messages li.sent div.details {
  border-top-right-radius: 20px;
  background: #fff;
  margin-right: 2px;
  padding: 0px 20px;
}

#messages li.recieved div.details {
  border-top-left-radius: 20px;
  background: #fff;
  margin-left: 2px;
  padding: 0px 20px;
}

#messagesform button {
  margin: 0;
  padding: 0;
}

#messagesform input {
  border: 1px solid;
}

#notificationsviews {
  background: #f3f3f3;
}

.notifications .notification {
  border-radius: 10px;
  margin: 4px 0px;
}

.popupnotification {
  background: #dffeff;
}

.popupnotification:hover {
  background: #bffcff;
}

.popupnotification.time {
  font-size: 8px;
}

.notifications {
  padding: 8px;
}

.notification .message {
  padding: 8px;
}

.notifications .action {
  cursor: pointer;
}

.notifications .details .timestamp {
  cursor: default;
  padding-left: 8px;
  border-bottom-left-radius: 10px;
}

.notifications .details .action {
  border-bottom-right-radius-radius: 10px;
}

.notifications .details .action .times {
  background-color: #f75658;
  padding: 0px 40px;
}

.notifications .details .action .check {
  background-color: #1cec65;
  border-bottom-right-radius: 10px;
  padding: 0px 40px;
}

.notifications .details .action .view {
  background-color: #1cec65;
  border-bottom-right-radius: 10px;
  padding: 0px 80px;
}

.notification.read {
  background: #ffffff;
}

.notification.unread {
  background: #cffdff;
}
