<md-toolbar class="no-select md-top-toolbar" layout="row" layout-nowrap layout-align="center center">
    <md-button class="md-icon-button" aria-label="Apps" ng-click="goTo('apps')">
        <span class="fa fa-th"></span>
        <md-tooltip md-direction="bottom" md-delay=10>Apps</md-tooltip>
    </md-button>
    <div layout="row" layout-align="center center">
      <h4>Logs</h4>      
    </div>
    <span flex></span>
    <md-menu-bar layout="row" layout-align="center center">
      <md-button class="md-icon-button" aria-label="Filter"  ng-click="filterbar = !filterbar">
        <span ng-if="!filterbar" class="fa fa-filter"></span>
        <span ng-if="filterbar" class="fa-stack fa-fw">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
        </span>
        <md-tooltip md-direction="bottom" md-delay=10>Filter</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Refresh" ng-if="!settings.logging.livelog" ng-click="getLogs()">
        <span class="fa fa-refresh"></span>
        <md-tooltip md-direction="bottom" md-delay=10>Refresh</md-tooltip>
      </md-button>
      <md-menu>
        <button class="md-icon-button" aria-label="Notifications" ng-click="$mdOpenMenu()">
          <span class='fa fa-bell'></span>
          <md-tooltip md-direction="bottom" md-delay=10>Notifications</md-tooltip>
        </button>
        <md-menu-content class='overflowscroll-y' width='4' style='max-height: 100px'>
          <md-menu-item>
            <md-button ng-click="goTo('notifications')" layout-align='center center'>
              <span class='fa fa-th-list'>&nbsp;View All</span>
            </md-button>
          </md-menu-item>
          <md-menu-item layout='column' ng-repeat='notification in notifications.unread'>
          </md-menu-item>
          <md-menu-divider ng-repeat='notification in notifications.unread'></md-menu-divider>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button class="md-icon-button" aria-label="User options" ng-click="$mdOpenMenu()">
          <span class="fa fa-user"></span>
          <md-tooltip md-direction="bottom" md-delay=10>User options</md-tooltip>
        </button>
        <md-menu-content width="2">
          <md-menu-item>
            <md-button ng-click="goTo('profile')" aria-label="My account" layout-align="start center" layout-fill>
              <span class="fa fa-user">&nbsp;My account</span>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>            
            <md-button ng-click="lockSession()" aria-label="Lock Session" layout-align="start center" layout-fill>
              <span class="fa fa-lock">&nbsp;Lock Session</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>            
            <md-button ng-click="signOutOfDevice()" aria-label="Sign out" layout-align="start center" layout-fill>
              <span class="fa fa-sign-out">&nbsp;Sign Out</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          <ng-md-icon icon="more_vert" style="fill: blue" size="24"></ng-md-icon>
          <md-tooltip md-direction="bottom" md-delay=10>More</md-tooltip>
        </button> 
        <md-menu-content width="0.5">
          <md-menu-item>            
            <md-button ng-click="goTo('settings.logs',true)" aria-label="Logs Settings" layout-align="center center"
                layout-fill>
              <span class="fa fa-cog">&nbsp;Settings</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>            
            <md-button ng-click="popup({scope: $scope,event: $event,templateUrl: '/templates/logs/about.html'})" aria-label="About this app" layout-align="center center"
                layout-fill>
              <span class="fa fa-info-circle">&nbsp;Info</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
</md-toolbar>
<div class="filterbar" layout-align="start center" layout="row" ng-if="filterbar">
    <label layout-margin>Search:
      <input type="text" ng-if="filter.scheme != 'year'" autofocus ng-model="filter.searchText">      
    </label>
    <md-select ng-model="filter.scheme" layout-margin placeholder="Search by">
      <md-option value="title">Title</md-option>
      <md-option value="actors">Actor</md-option>
      <md-option value="genre">Genre</md-option>
      <md-option value="year">Year</md-option>
      <md-option value="studio">Studio</md-option>
    </md-select>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="orderBy='asc'" aria-label="Sort ascending" layout-align="center center">
      <span ng-class="{'fa fa-sort-numeric-asc': filter.scheme == 'year', 'fa fa-sort-alpha-asc': filter.scheme != 'year'}">
        <md-tooltip md-direction="bottom" md-delay=10>Order by {{filter.scheme}} ascending</md-tooltip>  
      </span>
    </md-button>
    <md-button class="md-icon-button" ng-click="orderBy='desc'" aria-label="Sort descending" layout-align="center center">
      <span ng-class="{'fa fa-sort-numeric-desc': filter.scheme == 'year', 'fa fa-sort-alpha-desc': filter.scheme != 'year'}">
      <md-tooltip md-direction="bottom" md-delay=10>Order by {{filter.scheme}} descending</md-tooltip>  
      </span>
    </md-button>
    <span class="fa fa-info-circle" layout-padding layout-margin></span>
</div>
<md-content layout='column'>
  <div ng-if="isActiveState('logs')" layout layout-fill layout-padding flex></div>
  <ui-view ng-if="!isActiveState('logs')" layout layout-fill flex></ui-view>
</md-content>