<div id='moviessettingsview' class='viewpart' layout-fill>
  <md-toolbar layout='row' layout-padding layout-align='center center' class='md-slim-toolbar'>
    <h4>Logs Settings</h4>
    <span flex></span>
    <md-button ng-if="!settings.apps.settings.misc.autosync" ng-click='saveSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-save'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Save Settings</md-tooltip>
    </md-button>
    <md-button ng-click='getSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-refresh'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Refresh Settings</md-tooltip>
    </md-button>
  </md-toolbar>
  <md-content layout='column' layout-fill>
    <md-tabs md-selected="state.views.settings.logs" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Display</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show in launcher</h4>
                <p layout-wrap>Make this app visible in the app launcher</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.logs.display.showinlauncher" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider ng-if="!settings.general.rememberstates"></md-divider>
            <div ng-if="!settings.general.rememberstates" flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Start On</h4>
                <p layout-wrap>Choose on which page to start when you open the Logs app. 
                Only works if you have disabled remembering of apps' previous state in general settings.</p>
              </div>
              <span flex></span>
              <md-select ng-model="settings.apps.logs.display.startin" layout-align="end center"
                 class="md-primary" md-on-close="syncSettings()" aria-label="Start on which page?">
                <md-option ng-repeat="state in states.logs" value="{{state.abbrev}}">
                  {{state.name}}
                </md-option>
              </md-select>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Always show filter bar</h4>
                <p layout-wrap>Whether the 'filters bar'' should always be displayed. By default it is only shown when doing a search.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.logs.display.showfilterbar" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div ng-if="!settings.general.universaltheme" flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Theme</h4>
                <p layout-wrap>Use this theme on this app.</p>
              </div>
              <span flex></span>
              <md-select class="md-primary" ng-model="settings.apps.logs.display.theme" layout-align="end center"
                  ng-change="syncSettings()" aria-label="Select universal theme">
                <md-option ng-repeat="theme in themes" value="{{theme.shortname}}">{{theme.name}}</md-option>
              </md-select>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Logging</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Live logging</h4>
                <p ng-if="settings.apps.logs.logging.livelog" layout-wrap>View log entries as they are logged.</p>
                <p ng-if="!settings.apps.logs.logging.livelog" layout-wrap>Load logs instantantaneously.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.logs.logging.livelog" layout-align="end center"
                ng-change="syncSettings()" aria-label="Resume play position?">
              </md-switch>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>      
    </md-tabs>
  </md-content>
</div>