<md-content  class='no-rightclick' layout="column" layout-fill>  
    <div ng-hide="unlocked" id='lockmessage' layout="column" layout-align="center center">
      <p ng-show="!enterpin && lockreason == 'timeout'">This session timed-out and was locked!</p>
      <p ng-show="!enterpin && lockreason == 'device'">This device is locked!</p>
      <p ng-show='enterpin'>Enter your 
         <span ng-if="settings.apps.general.lockscreen.key == 'password'">password </span>
         <span ng-if="settings.apps.general.lockscreen.key == 'pin'">PIN </span>to unlock.
      </p>
      <form ng-show='enterpin' id='unlockForm' name='unlockForm' flex ng-submit="unlock()" 
            layout="column" layout-align="center center">
        <md-input-container class="md-block">
          <label>
            <span class='fa fa-key' ng-if="settings.apps.general.lockscreen.key == 'password'">&nbsp;Password</span>
            <span class='fa fa-key' ng-if="settings.apps.general.lockscreen.key == 'pin'">&nbsp;PIN</span>
          </label>
          <input id='key' name="key" autofocus required ng-model="key" type="password"
            aria-describedby="Enter {{settings.apps.general.lockscreen.key}}">
          <div ng-messages="unlockForm.key.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="error">This is required.</div>
          </div>
        </md-input-container>
        <md-button class='md-raised md-primary' type="submit" ng-show='enterpin'>Resume</md-button>
      </form>
      <md-button class='md-raised md-primary' ng-hide='enterpin' ng-click='enterpin = true'>Unlock</md-button>
    </div>
    <div ng-repeat="slide in slides" md-swipe-right="prevSlide()" md-swipe-left="nextSlide()" 
  	      class="nonDraggableImage slide" style='background-image: url("{{slide.src}}")'
       ng-hide="!isCurrentSlideIndex($index)" flex>
    </div>
    <nav layout>
      <ul class="dots" layout layout-align="center center" flex>
        <a ng-repeat="slide in slides" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);"></a>
      </ul>
    </nav>
</md-content>