<md-toolbar class="md-top-toolbar">
  <div class="md-toolbar-tools">
    <h3 ng-show="currentState('signin')">Sign In</h3>
    <h3 ng-show="currentState('signin.activateaccount')">Account Activation</h3>
    <h3 ng-show="currentState('signin.signoutdevices')">Sign Out of Devices</h3>    
    <h3 ng-show="currentState('signin.recoverpassword')">Recover password</h3>                  
    <span flex></span>
    <md-button class='md-hue-1 md-raised md-primary' aria-label="Sign Up" ng-href="/signup">
      Sign Up
    </md-button>
  </div>
</md-toolbar>
<md-content class='no-select content' layout-padding>  
  <div id='signinerror' ng-if="error.message" flex='90' flex-offset='5' class="alert text-center" role='alert'    
      ng-class="{'alert-danger':errorTypeOf('error'),'alert-warning':errorTypeOf('warning'), 'alert-success':errorTypeOf('success')}">
    <button type="button" class="close" ng-click='clearError()' aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">  {{ error.message.message }}</span>        
  </div>
  <div ng-show="currentState('signin')" id="form-container"  layout-padding flex='70' flex-offset='15' 
      flex-gt-sm='50' flex-offset-gt-sm='25'>
    <form flex ng-submit="signIn()" id='signinForm' name='signinForm'>
      <md-input-container class="md-block">
        <label>
          <span class='fa fa-envelope'> Email / </span>
          <span class='fa fa-user'> Username / </span>
          <span class='fa fa-phone'> Phone (+254...)</span>
        </label>
        <input id='signinemail' name="signinemail" required ng-model="user.email" aria-describedby="Email or Username or Phone Number">          
        <div ng-messages="signinForm.signinemail.$error">
          <div ng-message="required">This is required.</div>          
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label><span class='fa fa-key'> Password</span></label>
        <input id='signinpassword' name="signinpassword" type="password" required ng-model="user.password" aria-describedby="Password">          
        <div ng-messages="signinForm.signinpassword.$error">
          <div ng-message="required">This is required.</div>          
        </div>        
      </md-input-container>
      <p class='text-center'><a href='/signin/recoverpassword' ng-click="clearError()">
        Forgot password</a></p>            
      <br/>
      <div layout='row' layout-align="center center" flex='30' flex-offset='35'>
        <md-button type="submit" class="md-raised" style="background-color: #5cb85c;" 
            aria-label="Sign in" ng-class="{'disabled': signin}">
          <span style="color: white;" ng-hide='signing' >Sign In</span>
          <span style="color: white;" ng-show='signing' class="fa fa-spinner fa-spin"></span>
        </md-button>
      </div>      
    </form>
  </div>
  <ui-view ng-hide="currentState('signin')"  layout-padding flex='70' flex-offset='15' flex-gt-sm='50' 
    flex-offset-gt-sm='25' ng-cloak></ui-view>
</md-content>
<script type="text/ng-template" id='/signoutdevices.html'>
  <div class="no-select" id="devices-container" layout='column' layout-align='center center'>
  <h4 class='text-center'>Signed in devices:</h4>    
  <div ng-repeat='device in devices' class="signin-form-devices alert"
       md-swipe-left='signOutDevice($index)' md-swipe-right='signOutDevice($index)'
       ng-class="{'alert-warning':isSignedIn($index),'alert-success':isSignedOut($index)}" layout flex>
    <ul ng-hide='device.message' flex>
      <md-button type="button" ng-click='signOutDevice($index)' class="md-icon-button close"  
         aria-label="Sign Out">
        <span class='fa fa-sign-out'></span>
        <md-tooltip md-delay=10>Sign out this device</md-tooltip>
      </md-button>        
      <li>Device: {{device.name}}</li>
      <li>Description: {{device.description}}</li>
    </ul>      
    <p ng-show='device.message' class='text-center'>{{device.message.message}}
      <button type="button" class="close" ng-click='clearSignOutDevice($index, 0)' aria-label="Sign Out">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>      
  </div>
  <div class='text=center'>
    <md-button ng-href="/signin" ng-click='clearError()' ng-class='{"ng-hide": freeSlot()}'
    class="md-raised md-block">
     <span class="fa fa-chevron-circle-left"></span> Back
    </md-button>  
  </div>
</div>
</script>
<script type="text/ng-template" id='/activateaccount.html'>
<div ng-hide='currentScheme'>
  <div>
    <p class='text-center'>Via Email</p>
    <p class='text-center'>
      <md-button class="md-raised" aria-label='Activate via email'
        ng-click="{'setScheme':activationScheme('email'), 'sendCode': sendCode('email',false)}">
        <span class='text-center fa fa-envelope fa-4x'></span>
      </md-button>
    </p>
  </div>
</div>
<div ng-hide='currentScheme'>
  <div>
    <p class='text-center'>Via Phone</p>
    <p class='text-center'>
      <md-button class="md-raised" aria-label='Activate via phone'
        ng-click="{'setScheme':activationScheme('phone'), 'sendCode': sendCode('phone',false)}">
        <span class='text-center fa fa-mobile-phone fa-5x'></span>
      </md-button>
    </p>
  </div>
</div>
<div ng-show='scheme("email")'>
  <div class='alert'>
    <p class='text-center'>An activation email was sent to {{user.email}}</p>
     <p class='text-center'>Please find the email and click the link within.</p>
    <div>
      <button ng-click="sendCode('email', true)" class="btn btn-block btn-success">
        Resend activation email  
      </button>
    </div>
    <br/>
    <p></p>
    <br/>
    <p class='text-center'>or</p>
    <br/>
    <p class='text-center'>Activate via phone</p>
    <p class='text-center'>
      <md-button class="md-raised" aria-label='Activate via phone'
        ng-click="{'setScheme':activationScheme('phone'), 'sendCode': sendCode('phone',false)}">
        <span class='text-center fa fa-mobile-phone fa-3x'></span>
      </md-button>
    </p>
  </div>
</div>
<div ng-show='scheme("phone")'>
  <form id="activationForm" ng-submit="activateAccount(user.code.code)">
    <p class='text-center'>An activation code was sent to {{user.phone}}</p>
    <p class='text-center'>Please find the code and enter it here.</p>
    <md-input-container class="md-block" flex='50' flex-offset='25'>
      <label><span class='fa fa-key'> Activation Code</span></label>
      <input id='activationcode' name="activationcode" required ng-model="user.code.code" aria-describedby="Activation code">          
      <div ng-messages="activationForm.activationcode.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <p class='text-center'><a ng-href='#' ng-click="sendCode('phone', true)">Resend code</a></p>      
    <div class="form-group">
      <div layout='row' layout-align="center center" flex='30' flex-offset='35'>
        <button ng-show="!signing" type="submit" class="btn btn-block btn-success">
          Activate
        </button>
        <button ng-show="signing" type="submit" class="disabled btn btn-block btn-success">
          <span class="fa fa-spinner fa-spin"></span>
        </button>
      </div>
      <br/>
      <p class='text-center'></p>
      <br/>
      <p class='text-center'>or</p>
      <br/>
      <p class='text-center'>Activate via email</p>
      <p class='text-center'>
        <md-button class="md-raised" aria-label='Activate via email'
          ng-click="{'setScheme':activationScheme('email'), 'sendCode': sendCode('email',false)}">
          <span class='text-center fa fa-envelope fa-4x'></span>
        </md-button>
      </p>
    </div>
  </form>
</div>
</script>
<script type="text/ng-template" id='/recoverpassword.html'>
<form id="recoveryForm" ng-submit="recoverPassword()">
  <md-input-container class="md-block" flex-xs='30' flex-offset-xs-sm='35'>
    <label>
      <span class='fa fa-envelope'> Email / </span>
      <span class='fa fa-user'> Username / </span>
      <span class='fa fa-phone'> Phone (+254...)</span>
    </label>
    <input id='recoveryemail' name="recoveryemail" required ng-model="user.recoveryemail" aria-describedby="Email, username or phone number">          
    <div ng-messages="recoveryForm.recoveryemail.$error">
      <div ng-message="required">This is required.</div>
    </div>
  </md-input-container>
  <md-button ng-show='!signing' type="submit" class='md-raised' layout layout-align="center center">
    Recover  <span class="fa fa-chevron-circle-right"></span>
  </md-button>
  <md-button ng-show='signing' type="submit" class='disabled md-raised' layout layout-align="center center">
    <span class="fa fa-spinner fa-spin"></span>
  </md-button>
</form>
</script>