<md-toolbar class="md-top-toolbar">
  <div class="md-toolbar-tools">
    <h3>Sign Up</h3>
    <span flex></span>
    <md-button ng-show='!signing' class='md-hue-1 md-raised md-primary' aria-label="Sign In" ng-href="/signin">
      Sign In
    </md-button>
  </div>
</md-toolbar>
<md-content  layout-align="center center"> 
  <div id='signinerror' ng-if="error.message" flex='90' flex-offset='5' 
    class="alert text-center" role='alert'
    ng-class="{'alert-danger':errorTypeOf('error'),'alert-warning':errorTypeOf('warning'), 'alert-success':errorTypeOf('success')}">
    <button type="button" class="close" ng-click='clearError()' aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">  {{ error.message.message }}</span>        
  </div>
  <div ng-show="signing" layout-align="center center" flex='70' flex-offset='15'>
    <h5  > Signing up ... </h5>
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <form ng-show='!signing' id='signupForm' name='signupForm' flex='70' flex-offset='15' ng-submit='signUp()'>
    <md-content>    
      <md-input-container class="md-block">
        <label for="email"><span class='fa fa-envelope'> Email</span></label>
        <input id="email" name='email' ng-model="user.email" type="email" aria-label="Email"
               required minlength="7" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div class="hint" ng-show="showHints">How can we reach you?</div>        
        <div ng-messages="signupForm.email.$error"  role="alert">
          <div ng-message="required">Please specify an email address.</div>
          <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
            This doesn't look like a valid e-mail address.
          </div>
        </div>
      </md-input-container>      
      <md-input-container class="md-block">
        <label for="username"><span class='fa fa-user'> Username</span></label>
        <input md-minlength="3" md-maxlength="15" required id="username" name='username' ng-model="user.username"
         type="text" aria-label="Username"> 
        <div class="hint" ng-show="showHints">This is your screen name</div>
        <div ng-messages="signupForm.username.$error" role="alert">
          <div ng-message="required">Please specify username.</div>
          <div ng-message="md-minlength">A username must be at least 3 characters long.</div>
          <div ng-message="md-maxlength">The username has to be less than 15 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="password"><span class='fa fa-key'> Password</span></label>
        <input id='password' name="password" type="password" required ng-model="user.password" aria-label="Password">
        <div class="hint" ng-show="showHints">You will need this to sign in.</div>
        <div ng-messages="signupForm.password.$error" role="alert">
          <div ng-message="required">This is required.</div>          
        </div>        
      </md-input-container>
      <md-input-container class="md-block">
        <label for="confirmpassword"><span class='fa fa-key'> Confirm password</span></label>
        <input id='confirmpassword' name="confirmpassword" type="password" required ng-model="user.confirmpassword" aria-describedby="Confirm password">
        <div class="hint" ng-show="showHints">Confirm you typed your password correctly.</div>
        <div ng-messages="signupForm.confirmpassword.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="phone"><span class='fa fa-phone'> Phone Number</span></label>
        <input id="phone" name='phone' required ng-model="user.phone" ng-pattern="{+}/^([0-9]{3})[0-9]{3}[0-9]{6}$/" />
        <div class="hint" ng-show="showHints">###-###-######</div>
        <div ng-messages="signupForm.phone.$error"  role="alert">
          <div ng-message="required">This is required.</div>
          <div ng-message="pattern">+(###) ###-#### - Please enter a valid phone number.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="title">Title</label>
        <md-select required id='title' name='title' ng-model="user.title">
          <md-option ng-repeat="title in titles" value="{{title.abbrev}}">
            {{title.abbrev}}
          </md-option>
        </md-select>
        <div ng-messages="signupForm.title.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm='33'>
          <label for="firstname">First Name</label>
          <input required id="firstname" name='firstname' ng-model="user.firstname">
          <div ng-messages="signupForm.firstname.$error" role="alert">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm='33'>
          <label for="middlename">Middle Name</label>
          <input required id="middlename" name='middlename' ng-model="user.middlename">
          <div ng-messages="signupForm.middlename.$error" role="alert">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm='33'>
          <label for="lastname">Last Name</label>
          <input required id="lastname" name='lastname' ng-model="user.lastname">
          <div ng-messages="signupForm.lastname.$error" role="alert">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <md-radio-group required name='gender' ng-model="user.gender">
        <md-radio-button value="Male" class="md-primary"><span class='fa fa-male'> Male</span></md-radio-button>
        <md-radio-button value="Female"><span class='fa fa-female'> Female</span></md-radio-button>
        <md-divider></md-divider>
        <div ng-messages="signupForm.gender.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-radio-group>
      <md-input-container class="md-block">
        <label for="address"><span class='fa fa-map-marker'> Address</span></label>
        <input id='address' name='address' required ng-model="user.address">
        <div ng-messages="signupForm.address.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="about"><span class='fa fa-info-circle'> About me</span></label>
        <input id='about' name='about' required ng-model="user.about" columns="1" md-maxlength="150" rows="2"></input>
        <div ng-messages="signupForm.about.$error" role="alert">
          <div ng-message="required">Tell us something about yourself.</div>
        </div>
      </md-input-container>
      <md-checkbox class='md-primary' id='accept' name='accept' aria-label="I accept these terms and conditions." ng-model="user.accept">
        I accept these <a ng-href='/tncs'>terms and conditions</a>
        <div ng-messages="signupForm.accept.$error" role="alert">
          <div ng-message="required">Tell us something about yourself.</div>
        </div>
      </md-checkbox>
      <div layout='row' layout-align="center center">
        <div layout flex='30'>
          <md-button type="submit" class="md-primary md-raised" ng-disabled="!user.accept" layout-fill>
            Sign Up  <span class="fa fa-chevron-circle-right"></span>
          </md-button>
        </div>
      </div>
    </md-content>
  </form>
</md-content>