<div id='showssettingsview' class='viewpart' layout-fill>  
  <md-toolbar layout='row' layout-padding layout-align='center center' class='md-slim-toolbar'>
    <h4>Ideas Settings</h4>
    <span flex></span>
    <md-button ng-if="!settings.apps.settings.misc.autosync" ng-click='saveSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-save'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Save Settings</md-tooltip>
    </md-button>
    <md-button ng-click='getSettings()' class='md-icon-button'>
      <span class='fa fa-refresh'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Refresh Settings</md-tooltip>
    </md-button>
  </md-toolbar>
  <md-content class="inset" layout='column' layout-padding >
    <md-tabs md-selected="state.views.settings.ideas" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Display</span>
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show in launcher</h4>
                <p layout-wrap>Make this app visible in the app launcher</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.ideas.display.showinlauncher" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <div flex layout='row' layout-nowrap>
            <div layout='column'>
              <h4>Show navigation</h4>
              <p layout-wrap>Toggle the nav bar</p>
            </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.ideas.display.shownav" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
            <div layout='column'>
              <h4>Show quick actions</h4>
              <p layout-wrap>Toggle actions on each series in the library</p>
            </div>
            <span flex></span>
            <md-switch class="md-primary" ng-model="settings.apps.ideas.display.quickactions" layout-align="end center"
              ng-change="syncSettings()" aria-label="Show quick actions?">
            </md-switch>
            </div>            
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Play</span>
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
              <h3 class="md-display-2">Reviews</h3>
              <p>{{settings}}</p>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab label="Comments">
        <md-tab-label>
          <span style='color: blue;'></span>
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
              <h3 class="md-display-2">Comments</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
          </md-content>
        </md-tab-body>
        </md-tab>
    </md-tabs>
  </md-content>
</div>