<md-dialog layout='column'>  
   <md-toolbar layout-padding layout="row" layout-align="center center" class='md-slim-toolbar'>
      <span class='fa fa-info-circle'></span>
      <h4>About Settings</h4>
      <span flex></span>
      <md-button ng-click="closeDialog()" class="md-icon-button" aria-label="Close dialog">
        <span class='fa fa-times'></span>
      </md-button>
   </md-toolbar>
   <div layout-padding>
     <p>Name: {{app.name}}</p><br/>
     <p>Version: {{app.version}}</p><br/>
     <p>Maintainer: {{app.maintainer}}</p><br/>
     <p>Author: {{app.author}}</p><br/>
     <ng-md-icon icon="system_update" style="fill: skyblue" size='24' ng-click="checkUpdate('movies')">
       <md-tooltip md-direction="bottom" md-delay=10>Update</md-tooltip>
     </ng-md-icon>
  </div>
</md-dialog>