<md-toolbar class="md-top-toolbar" layout='row' layout-align='center center'>
    <md-button class="md-icon-button" aria-label="Apps" ng-click="goTo('apps')">
        <span class="fa fa-th"></span>
        <md-tooltip md-direction="bottom" md-delay=10>Apps</md-tooltip>
    </md-button>
    <!--<md-button class="md-icon-button" aria-label="Apps" ng-click="goBack()">
        <span class="fa fa-chevron-circle-left"></span>
        <md-tooltip md-direction="bottom" md-delay=10>Back</md-tooltip>
    </md-button>-->
    <div layout-align="center center">Settings</div>
    <span flex></span>
    <md-menu-bar layout="row" layout-align="center center">
      <md-button class="md-icon-button" aria-label="Search"  ng-click="filterbar = !filterbar"
          ng-show="isActiveState('video.library') || isActiveState('video.mylibrary')">
        <span ng-if="!filterbar" class="fa fa-search"></span>
        <span ng-if="filterbar" class="fa-stack fa-fw">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-search fa-stack-1x fa-inverse"></i>
        </span>
        <md-tooltip md-direction="bottom" md-delay=10>Search</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Refresh" ng-show="isActiveState('video.mylibrary')" ng-click="getMyVideos()">
        <span class="fa fa-refresh"></span>
        <md-tooltip md-direction="bottom" md-delay=10>Refresh</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Reload" ng-if="user.details.accounttype == 'admin'" 
          ng-show="isActiveState('video.library')" ng-click="reload()">
        <span class="fa fa-recycle" ng-class="{'fa-spin' : reloading}"></span>
        <md-tooltip md-direction="bottom" md-delay=10>Reload database</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Refresh" ng-if="user.details.accounttype == 'admin'" 
          ng-show="isActiveState('video.library')" ng-click="getVideos()">
        <span class="fa fa-refresh"></span>
        <md-tooltip md-direction="bottom" md-delay=10>Refresh</md-tooltip>
      </md-button>
      <md-menu>
        <button class="md-icon-button" aria-label="Notifications" 
          ng-click="{'open':$mdOpenMenu(),'get':getNotifications()}">
        <span class='fa fa-bell'>
          <span ng-show="notifications.unread.length">{{notifications.length}}</span>
        </span>
        <md-tooltip md-direction="bottom" md-delay=10>Notifications</md-tooltip>
      </button>
      <md-menu-content width='2'>
        <md-button ng-click="goTo('notifications')" layout-align='center center'>
          <span class='fa fa-th-list'>&nbsp;View All</span>
        </md-button>        
        <div class="overscroll-y" layout="column" layout-fill>
          <div class="popupnotification no-select" ng-repeat="notification in notifications" layout-margin>
            <div layout layout-fill layout-align="center center" layout-padding
                ng-class="{'read': notificationRead(notification), 'unread': !notificationRead(notification)}"
                ng-click="checkOut(notification)"
                ng-show="!notificationRead(notification)"
                md-swipe-right="toggleReadStatus(notification)"
                md-swipe-left="toggleReadStatus(notification)">
              <span class="fa" ng-class="{
                  'fa-lock':concernIs('security',notification),
                  'fa-users':concernIs('social',notification),
                  'fa-clip':concernIs('video',notification),
                  'fa-music':concernIs('music',notification),
                  'fa-cogs':concernIs('settings',notification)
                  }" layout-margin>
              </span>              
              <span class='message' layout layout-align="start center" layout-wrap flex>
                <span>{{notification.message | camelcase:[0]}}</span>                
              </span>                
              <span class="md-icon-button action fa fa-times"  layout-margin
                ng-click="toggleReadStatus(notification)">                
              </span> 
            </div>
          </div>
        </div>          
      </md-menu-content>
      </md-menu>
      <md-menu>
        <button class="md-icon-button" aria-label="User options" ng-click="$mdOpenMenu()">
          <span class="fa fa-user"></span>
          <md-tooltip md-direction="bottom" md-delay=10>User options</md-tooltip>
        </button>
        <md-menu-content width="2">
          <md-menu-item>
            <md-button ng-click="goTo('profile')" aria-label="My account" layout-align="center center" layout-fill>
              <span class="fa fa-user">&nbsp;My account</span>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>            
            <md-button ng-click="lockSession()" aria-label="Lock Session" layout-align="start center" layout-fill>
              <span class="fa fa-lock">&nbsp;Lock Session</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>            
            <md-button ng-click="signOutOfDevice()" aria-label="Sign out" layout-align="center center" layout-fill>
              <span class="fa fa-sign-out">&nbsp;Sign Out</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          <ng-md-icon icon="more_vert" style="fill: white" size="24"></ng-md-icon>
          <md-tooltip md-direction="bottom" md-delay=10>More</md-tooltip>
        </button> 
        <md-menu-content width="0.5">
          <md-menu-item>            
            <md-button ng-click="popup({scope: $scope,event: $event,templateUrl: '/templates/settings/about.html'})" aria-label="About this app" layout-align="center center"
                layout-fill>
              <span class="fa fa-info-circle">&nbsp;Info</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>    
</md-toolbar>
<div>
  <md-tabs md-selected="selectedIndex" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
    <md-tab ng-repeat='link in links' aria-label='{{link.url}}'>
      <ng-md-icon icon="{{link.icon}}" style="fill: {{link.color}}" size='24'></ng-md-icon>
      <md-tooltip delay=10 md-direction="bottom">
        <span ng-if="link.name != 'Settings'">{{link.name}}</span>
        <span ng-if="link.name == 'Settings'">General</span>
        &nbsp;settings</md-tooltip>
    </md-tab>
  </md-tabs>
</div>
<md-content layout='column' flex>
    <div ng-if="isActiveState('settings')" layout-fill>
      <md-toolbar layout='row' layout-padding layout-align='center center' class='md-slim-toolbar'>
        <h4>General Settings</h4>
        <span flex></span>
        <md-button ng-if="!settings.apps.settings.misc.autosync" ng-click='saveSettings()' class='md-icon-button' aria-label='Save settings'>
          <span class='fa fa-save'></span>
          <md-tooltip md-direction="bottom" md-delay=10>Save Settings</md-tooltip>
        </md-button>
        <md-button ng-click='getSettings()' class='md-icon-button' aria-label='Refresh settings'>
          <span class='fa fa-refresh'></span>
          <md-tooltip md-direction="bottom" md-delay=10>Refresh Settings</md-tooltip>
        </md-button>
      </md-toolbar>
      <md-content layout='column' layout-fill>
        <md-tabs md-selected="state.views.settings.settings" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
          <md-tab>
            <md-tab-label>
              <span style='color: blue;'>Base</span>
            </md-tab-label>
            <md-tab-body layout-padding>
              <md-content class="md-padding">
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Show in launcher</h4>
                    <p ng-if="settings.apps.settings.display.showinlauncher">Show the settings app in the launcher</p>
                    <p ng-if="!settings.apps.settings.display.showinlauncher">Don't show the settings app in the launcher</p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.apps.settings.display.showinlauncher" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Show nav bar?">
                  </md-switch>
                </div>
                <md-divider></md-divider>
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Settings per device</h4>
                    <p ng-if="settings.general.settingsperdevice">Each device you use will have its own customized settings. 
                     This means your experience when using different devices will <b>not</b> be standard.</p>
                    <p ng-if="!settings.general.settingsperdevice">All devices you use will share the same settings. 
                     This means your experience when using different devices will be standard.</p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.general.settingsperdevice" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Show nav bar?">
                  </md-switch>
                </div>
                <md-divider></md-divider>
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>States per device</h4>
                    <p ng-if="settings.general.statesperdevice">All devices will navigate asyncronously. This means
                     your apps' states will <b>not</b> be syncronized across devices.</p>
                    <p ng-if="!settings.general.statesperdevice">All devices will navigate syncronously.This means
                     your apps' states will be syncronized across devices.</p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.general.statesperdevice" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Show nav bar?">
                  </md-switch>
                </div>
                <md-divider></md-divider>
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Resume to previous app</h4>
                    <p ng-if="settings.apps.general.resumetopreviousapp">Start where you left off on resume.</p>
                    <p ng-if="!settings.apps.general.resumetopreviousapp">Start a fresh on resume.</p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.apps.general.resumetopreviousapp" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Remember apps' states?">
                  </md-switch>
                </div>
                <md-divider></md-divider>
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Remember apps' states</h4>
                    <p layout-wrap>Allows to resume to the state apps were in last they were open.</p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.apps.general.rememberstates" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Remember apps' states?">
                  </md-switch>
                </div>
                <md-divider ng-if="!settings.apps.general.rememberstates"></md-divider>
                <div ng-if="!settings.apps.general.rememberstates" flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Start On</h4>
                    <p layout-wrap>Choose on which page to start when you open the Settings app. 
                    Only works if you have disabled the above option.</p>
                  </div>
                  <span flex></span>
                  <md-select ng-model="settings.apps.settings.display.startin" layout-margin layout-align="end center"
                      class="md-primary" md-on-close="syncSettings()" aria-label="Start on which page?">
                    <md-option ng-repeat="state in states.settings" value="{{state.abbrev}}">
                      {{state.name}}
                    </md-option>
                  </md-select>
                </div>
                <md-divider></md-divider>
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Remember apps' states' views</h4>
                    <p layout-wrap>Allows to resume to the previous views of states in apps.</p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.apps.general.rememberviews" layout-margin layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Remember  apps' states' views?">
                  </md-switch>
                </div>
              </md-content>
            </md-tab-body>
          </md-tab>
          <md-tab>
            <md-tab-label>
              <span style='color: blue;'>Misc</span>
            </md-tab-label>
            <md-tab-body layout-padding>
              <md-content class="md-padding">
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Auto Sync settings</h4>
                    <p layout-wrap>Automatically syncronize changed settings with server.</p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.apps.settings.misc.autosync" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Auto Sync settings?">
                  </md-switch>
                </div>
                <md-divider></md-divider>
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Universal Theme</h4>
                    <p ng-if="settings.apps.general.universaltheme" layout-wrap>
                      Use the same theme on all apps.
                    </p>
                    <p ng-if="!settings.apps.general.universaltheme" layout-wrap>
                      Each app will have its own theme. Please set this in each app's display settings.
                    </p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.apps.general.universaltheme" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Universal theme?">
                  </md-switch>
                </div>
                <md-divider ng-if="settings.apps.general.universaltheme"></md-divider>
                <div ng-if="settings.apps.general.universaltheme" flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Select universal theme</h4>
                    <p layout-wrap>Use this theme on all apps.</p>
                  </div>
                  <span flex></span>
                  <md-select class="md-primary" ng-model="settings.apps.general.theme" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Select universal theme">
                      <md-option ng-repeat="theme in themes" value="{{theme.shortname}}">{{theme.name}}</md-option>
                  </md-select>
                </div>
                <md-divider></md-divider>
                <div ng-if="!settings.apps.general.universaltheme" flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Theme</h4>
                    <p layout-wrap>Use this theme on this app.</p>
                  </div>
                  <span flex></span>
                  <md-select class="md-primary" ng-model="settings.apps.settings.display.theme" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Select universal theme">
                    <md-option ng-repeat="theme in themes" value="{{theme.shortname}}">{{theme.name}}</md-option>
                  </md-select>
                </div>
              </md-content>
            </md-tab-body>
          </md-tab>
          <md-tab>
            <md-tab-label>
              <span style='color: blue;'>Social</span>
            </md-tab-label>
            <md-tab-body layout-padding>
              <md-content class="md-padding">
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Allow friend requests</h4>
                    <p layout-wrap>Whether to allow friend requests from other users</p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.social.allowFriendRequests" layout-align="end center"
                    ng-change="syncSettings()" aria-label="Allow friend requests?">
                  </md-switch>
                </div>
                <md-divider></md-divider>
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Allow follows</h4>
                    <p layout-wrap>Whether to allow other users to follow you</p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.social.allowFollows" layout-align="end center"
                    ng-change="syncSettings()" aria-label="Allow follows?">
                  </md-switch>
                </div>
                <md-divider></md-divider>
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Notify on profile checkout</h4>
                    <p ng-show="settings.social.notifycheckout"layout-wrap>Know who is checking out your profile.</p>
                    <p ng-hide="settings.social.notifycheckout" layout-wrap>I'm already famous. I don't care.</p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.social.notifycheckout" layout-align="end center"
                    ng-change="syncSettings()" aria-label="Allow follows?">
                  </md-switch>
                </div>
              </md-content>          
            </md-tab-body>
          </md-tab>
          <md-tab>
            <md-tab-label>
              <span style='color: blue;'>Security</span>
            </md-tab-label>
            <md-tab-body layout-padding>
              <md-content class="md-padding">
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Auto lock apps</h4>
                    <p ng-if="settings.apps.general.lockscreen.lock" layout-wrap>
                      Enabled. Apps will be locked if not used within a set timeout.
                    </p>
                    <p ng-if="!settings.apps.general.lockscreen.lock" layout-wrap>
                      Disabled. Auto-Locking of apps disabled. You will still be able to lock apps manually.
                    </p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.apps.general.lockscreen.lock" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Auto lock apps?">
                  </md-switch>
                </div>
                <md-divider></md-divider>
                <div flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Universal PIN</h4>
                    <p ng-if="settings.general.universalpin" layout-wrap>
                      Use the same unlock PIN on all devices.
                    </p>
                    <p ng-if="!settings.general.universalpin" layout-wrap>
                      Use a unique unlock PIN on each device.
                    </p>
                  </div>
                  <span flex></span>
                  <md-switch class="md-primary" ng-model="settings.general.universalpin" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Use universal PIN?">
                  </md-switch>
                </div>
                <md-divider ng-if="settings.apps.general.lockscreen.lock"></md-divider>
                <div ng-if="settings.apps.general.lockscreen.lock" flex layout='row' layout-nowrap>
                  <div layout='column'>
                    <h4>Timeout after</h4>
                    <p layout-wrap>Apps will auto-lock after this duration.</p>
                  </div>
                  <span flex></span>
                  <md-select class="md-primary" ng-model="settings.apps.general.lockscreen.timeout" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Select universal theme">
                    <md-option value="5">5 Minutes</md-option>
                    <md-option value="10">10 Minutes</md-option>
                    <md-option value="15">15 Minutes</md-option>
                    <md-option value="30">30 Minutes</md-option>
                    <md-option value="45">45 Minutes</md-option>
                    <md-option value="60">1 Hour</md-option>
                    <md-option value="{{60*24}}">1 Day</md-option>
                  </md-select>
                </div>                
                <md-divider></md-divider>
                <div flex layout='row' layout-nowrap layout-align="center center">
                  <div layout='column'>
                    <h4>Unlock sessions using</h4>
                    <p layout-wrap>Use {{settings.apps.general.lockscreen.key}} to unlock locked sessions.</p>
                  </div>
                  <span flex></span>
                  <md-button class="md-raised md-accent md-icon-button" ng-click="pinify('enable',$event)"
                      ng-if="!settings.apps.general.lockscreen.haspin && !settings.general.universalpin">
                    <span class="fa fa-key"></span>
                    <md-tooltip md-direction="left" delay=10>Enable PIN unlocking</md-tooltip>
                  </md-button>
                  <md-button class="md-raised md-accent md-icon-button" ng-click="pinify('change',$event)"
                      ng-if="settings.apps.general.lockscreen.haspin || settings.general.universalpin">
                    <span class="fa fa-pencil"></span>
                    <md-tooltip md-direction="left" delay=10>Change PIN</md-tooltip>
                  </md-button>
                  <span flex="5"></span>
                  <md-select class="md-primary" ng-model="settings.apps.general.lockscreen.key" layout-margin layout-align="end center"
                      ng-change="syncSettings()" aria-label="Unlock sessions using">
                    <md-option value="password">Password</md-option>
                    <md-option ng-if="settings.apps.general.lockscreen.haspin" value="pin">PIN</md-option>
                  </md-select>
                </div>
                <md-divider></md-divider>
              </md-content>
            </md-tab-body>
          </md-tab>      
        </md-tabs>
      </md-content>
    </div>
    <div ui-view ng-if="!isActiveState('settings')" layout layout-fill flex></div>
</md-content>