<div layout-fill layout='column'>
<md-toolbar> 
  <div class="md-toolbar-tools">
    <h2>
      <span>Floatr</span>
    </h2>
    <span flex></span>
    <md-button class='md-hue-1 md-raised md-primary' aria-label="Sign Up" ng-click="goto('signup')">
      Sign Up
    </md-button>
    <md-button class='md-hue-1 md-raised md-primary' aria-label="Sign In" ng-click="goto('signin')">
      Sign In
    </md-button>
  </div>
</md-toolbar>
<md-content layout class='slider'>
  <div layout="column" layout-fill>
    <div ng-repeat="slide in slides" md-swipe-right="prevSlide()" md-swipe-left="nextSlide()" 
  	      class="nonDraggableImage slide" style='background-image: url("{{slide.src}}")'
       ng-hide="!isCurrentSlideIndex($index)" >
    </div>
    <nav class='text-center' layout>      
      <ul class="dots" flex>
        <a ng-repeat="slide in slides" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);"></a>
      </ul>
    </nav>  
  </div>
</md-content>
</div>