<md-toolbar class="md-menu-toolbar md-top-toolbar" layout='row' layout-align='center center'>
    <md-button class="md-icon-button" aria-label="User options" ng-click="goTo('apps')">
        <span class='fa fa-th'></span>
        <md-tooltip md-direction="bottom" md-delay=10>Apps</md-tooltip>
    </md-button>
    <div layout-align='center center' flex><h4>About Us</h4></div>
    <md-menu-bar layout='row' layout-align='center center'>
      <md-menu ng-if="user">
        <button class="md-icon-button" aria-label="Notifications" ng-click="$mdOpenMenu()">
          <span class='fa fa-bell'></span>
          <md-tooltip md-direction="bottom" md-delay=10>Notifications</md-tooltip>
        </button>
        <md-menu-content class='overflowscroll-y' width='4' style='max-height: 100px'>
          <md-menu-item>
            <md-button ng-click="goTo('notifications')" layout-align='center center'>
              <span class='fa fa-th-list'>&nbsp;View All</span>
            </md-button>
          </md-menu-item>
          <md-menu-item layout='column' ng-repeat='notification in notifications.unread'>
          </md-menu-item>
          <md-menu-divider ng-repeat='notification in notifications.unread'></md-menu-divider>
        </md-menu-content>
      </md-menu>
      <md-menu ng-if="user">
        <button class="md-icon-button" aria-label="User options" ng-click="$mdOpenMenu()">
          <span class='fa fa-user'></span>
          <md-tooltip md-direction="bottom" md-delay=10>User options</md-tooltip>
        </button>
        <md-menu-content width='2'>
          <md-menu-item>
            <md-button ng-click="goTo('settings')" aria-label='Settings' layout-align='center center'>
              <span class='fa fa-cogs'>&nbsp;Settings</span>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>            
            <md-button ng-click="toggleLock()" aria-label="Lock Session" layout-align="center center">
              <span class="fa fa-lock">&nbsp;Lock Session</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>            
            <md-button ng-click="signOut()" aria-label='Sign out' layout-align='center center'>
              <span class='fa fa-sign-out'>&nbsp;Sign Out</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>      
    </md-menu-bar>
</md-toolbar>
<md-content layout='column'>
    <div>
      <md-tabs md-selected="selectedIndex" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
        <md-tab id="generalInfoTab"><span style='color: blue;'>GENERAL INFO</span></md-tab>         
      </md-tabs>
    </div>
    <ui-view id="content" flex class='overflowscroll-y'></ui-view>
</md-content>