<md-dialog>
  <md-toolbar class="md-menu-toolbar md-top-toolbar md-slim-toolbar" layout='row' layout-align='center center' layout-padding
       style="background-color:white;color:blue;">
    <h4 ng-if="action == 'share credit'">Share credit</h4>
    <h4 ng-if="action == 'add contact'">Add contact</h4>
    <span flex></span>
    <md-button class="md-icon-button"  aria-label='Cancel' ng-click='closeDialog()'>
        <span style="color:blue;" class='fa fa-close'></span>        
    </md-button>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content" layout-align='center center' layout='column'>
    <div>
      <h5>Type a username<span ng-if="action == 'share credit'">&nbsp;or choose a friend</span>.</h5>
    </div>    
    <div ng-if="action == 'share credit'" ng-repeat='friend in user.social.friends' layout="row"
        ng-click="User.finance.username = username = friend.accounts.local.username" >
      <div></div>
      <div>{{friend.accounts.local.username}}</div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout='row' layout-align="center center">
    <form id='shareForm' name='shareForm' ng-submit="exec($event,username)" 
        layout="column" layout-align="center center">
      <md-input-container class="md-block" layout-align="center center">
        <label for="username">Username</label>
        <input type="text" required id="username" name='username' ng-model="username">
        <div ng-messages="shareForm.username.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>              
      <md-button type="submit" class="md-primary md-raised" aria-label='Next'>
        <span>Next</span>        
      </md-button>
    </form>    
  </md-dialog-actions>
</md-dialog>