  <div id='contactusapp'>
    <nav class='navbar navbar-default navbar-fixed-top'>
      <div class='container-fluid'>        
        <div class="navbar-header">  
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search" aria-expanded="false">
            <span class="sr-only">Toggle Search</span>
            <span class="fa fa-list-ul"></span>
          </button>          
          <button ng-click='goTo("apps")' type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Apps</span>
            <span class="fa fa-th"></span>
          </button>                    
          <a class="navbar-brand" href="/contactus"><span class='fa fa-phone-square'> Contact Us</span></a>
        </div>
        <div class="collapse navbar-collapse" id="search">                       
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/apps" class="" title='Apps'>
                <span class='fa fa-th'></span>                
              </a>              
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title='User Options'>
                <span class='fa fa-user'> </span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href='/profile'><span class='fa fa-user'></span> My Profile</a></li>
                <li><a href='/settings'><span class='fa fa-cogs'></span> Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><p class='text-center' ng-click='signOut()'><span class='fa fa-lock'></span> Sign Out</p></li>                
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title='Notifications'>
                <span class='fa fa-bell'> 
                  <span > {{notifications.new.length || 0}}</span>
                </span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat='notification in newnotifications'><a href="{{notification.link}}"></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="fa fa-list"></span>   View All</a></li>
                <li><a href="#"><span class="fa fa-trash"></span>   Clear All</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>