<md-dialog md-theme="{{appTheme}}" aria-label="Subscriptions" ng-cloak flex-xs="95">
  <md-toolbar class="no-select md-top-toolbar md-slim-toolbar" layout="row" layout-nowrap layout-align="center center">
      <div class="md-toolbar-tools" layout="row" layout-nowrap>
        <div layout layout-nowrap flex>
          <h4>Change PIN</h4>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" aria-label='Close' ng-click="closeDialog()">
          <span class="fa fa-close"></span>          
        </md-button>
      </div>
  </md-toolbar>
  <md-dialog-content class="overflowscroll-y">
    <div layout-padding layout='row' layout-align="center center">
      <form id="pinForm" name="pinForm" layout="column" ng-submit="exec(pin)">
        <md-input-container>
            <label for="currentpin">Current Pin</label>
            <input id="currentpin" name="currentpin" type="password" ng-required="true" ng-minlength="4" ng-maxlength="4" ng-model="pin.currentpin"/>
            <div ng-messages="pinForm.currentpin.$error" role="alert">
              <div ng-message="required">This is required.</div>
              <div ng-message-exp="['minlength', 'maxlength']">
                PIN must be 4 characters long.
              </div>
            </div>
        </md-input-container>
        <md-input-container>
            <label for="pinC">New PIN</label>
            <input id="pinC" name="pinC" type="password" ng-required="true" ng-minlength="4" ng-maxlength="4" ng-model="pin.pinC"/>
            <div ng-messages="pinForm.pinC.$error" role="alert">
              <div ng-message="required">This is required.</div>
              <div ng-message-exp="['minlength', 'maxlength']">
                PIN must be 4 characters long.
              </div>
            </div>
        </md-input-container>
        <md-input-container>
            <label for="pinO">Confirm PIN</label>
            <input id="pinO" name="pinO" type="password" ng-required="true" ng-minlength="4" ng-maxlength="4" ng-model="pin.pinO"/>
            <div ng-messages="pinForm.pinO.$error" role="alert">
              <div ng-message="required">This is required.</div>
              <div ng-message-exp="['minlength', 'maxlength']">
                PIN must be 4 characters long.
              </div>
            </div>
        </md-input-container>
        <md-button type="submit" class="md-raised md-accent" aria-label='Change PIN'>
          <span>Change</span>
        </md-button>
      </form>
    </div>
  <md-dialog-content>
</md-dialog>          