<md-dialog aria-label="Subscriptions" ng-cloak flex-xs="95">
  <md-toolbar class="no-select md-top-toolbar md-slim-toolbar" layout="row" layout-nowrap layout-align="center center">
      <div class="md-toolbar-tools" layout="row" layout-nowrap>
        <div layout="row" layout-align="start center">
          <h5>Subscriptions</h5>          
        </div>
        <span flex></span>
        <md-button class="md-icon-button" aria-label='Close' ng-click="closeDialog()">
          <span class="fa fa-close"></span>          
        </md-button>
      </div>
  </md-toolbar>
  <md-dialog-content class="overflowscroll-y">
    <div layout-padding layout='row' layout-align="start center">
      <table id='subscriptions'>
        <thead>
          <tr>
            <th colspan="2"></th>
            <td layout="column" layout-wrap>
                <span>PREMIUM</span>
                <span></span>
                <span> 500/Mo.</span>
            </td>
            <td></td>
            <td layout="column" layout-wrap>
                <span>BASIC</span>
                <span></span>
                <span> 250/Mo.</span>
            </td>            
            <td></td>
            <td layout="column" layout-wrap>
                <span>FREE</span>
                <span></span>
                <span> 0/Mo.</span>
            </td>
          </tr>
        </thead>
        <tbody>          
            <th rowspan='4'>Movies</th>
            <tr>
              <th>Download</th>
              <td><span class="fa fa-check fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-check fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-check fa-lg"></span></td>
            </tr>
            <tr>
              <th>Share</th>
              <td><span class="fa fa-check fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-check fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-times danger fa-lg"></span></td>
            </tr>
            <tr>
              <th>Online Play</th>
              <td><span class="fa fa-check fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-times fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-times fa-lg"></span></td>
            </tr>
            <th rowspan='4'>Games</th>
            <tr>
              <th>Download</th>
              <td><span class="fa fa-check fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-check fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-check fa-lg"></span></td>
            </tr>
            <tr>
              <th>Share</th>
              <td><span class="fa fa-check fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-check fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-times fa-lg"></span></td>
            </tr>
            <tr>
              <th>Online Play</th>
              <td><span class="fa fa-check fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-times fa-lg"></span></td>
              <td></td>
              <td><span class="fa fa-times fa-lg"></span></td>
            <tr>
            <tr><tr>
            <tr>
              <th colspan="2"></th>
              <td>
                <md-button class="md-raised" 
                    ng-click="confirm({action:'subscribe',event:event,subscription:'premium'})">
                  SUBSCRIBE
                </md-button>
              </td>
              <td></td>
              <td>
                <md-button class="md-raised" 
                    ng-click="confirm({action:'subscribe',event:event,subscription:'basic'})">
                  SUBSCRIBE
                </md-button>
              </td>              
              <td></td>
              <td>
                <md-button class="md-raised" 
                    ng-click="confirm({action:'subscribe',event:event,subscription:'free'})">
                  SUBSCRIBE
                </md-button>
              </td>              
            </tr>
        </tbody>
      </table>
    </div>
  <md-dialog-content>
</md-dialog>          