<md-dialog md-theme={{appTheme}} aria-label="{{item.name}}"  ng-cloak>
  <md-dialog-content>
    <md-toolbar class="no-select md-top-toolbar md-slim-toolbar" layout="row" layout-nowrap layout-align="center center">
      <div class="md-toolbar-tools" layout="row" layout-nowrap>
        <div layout="row" layout-align="start center">
          <h2>{{person.username | camelcase:[0]}}</h2>          
        </div>
        <span flex></span>
        <md-button class="md-icon-button" aria-label='Close' ng-click="closeDialog()">
          <span class="fa fa-close"></span>
          <md-tooltip md-direction="left" md-delay=10>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <div layout='column'>
      <div layout='column' layout-gt-xs='row'>
        <div class='no-drag' layout layout-margin flex
          ng-class="{'xs-pic': $mdMedia('min-width: 599px'),'sm-pic': $mdMedia('min-width: 960px')
          ,'md-pic': $mdMedia('min-width: 1280px'),'lg-pic': $mdMedia('min-width: 1920px')}">
          <img flex ng-if='person.profpic' ng-src="/images/profpics/{{person.profpic}}"></img>
          <span class="fa fa-user" ng-if='!person.profpic' flex></span>
        </div>
        <br hide-gt-xs/>
        <div layout="column" layout-margin>
          <p flex>Username: {{person.username}}</p>                        
          <p flex>Name: {{person.title}} {{person.firstname}} {{person.middlename}} {{person.lastname}}</p>
          <p flex>Email address: {{person.email}}</p>
          <p flex>Phone number: {{person.phone}}</p>
          <p flex>About: {{person.about}}</p>
        </div>
      </div>
      <md-divider></md-divider>
      <div ng-if="person.friends.length > 0" layout="column" layout-padding>
        <div ng-click="friendsExpanded = !friendsExpanded" layout layout-flex>
          <span>Friends&nbsp;<span class="tab">({{person.friends.length}})</span></span>
          <span flex></span>
          <span ng-class="{'fa fa-chevron-up': friendsExpanded, 'fa fa-chevron-down' : !friendsExpanded}"></span>
        </div>
        <div ng-show="friendsExpanded">
          <span ng-repeat="friend in person.friends" layout layout-align="start center">
            <span  class='fa fa-user' layout-margin></span>
            <a ng-if="friend.accounts.local.username != user.username" ng-href="#" 
              ng-click="showUser($event,friend.accounts.local.username)">
              {{friend.accounts.local.username | camelcase:[0]}}
            </a>
            <h5 ng-if="friend.accounts.local.username == user.username">Me</h5>
          </span>
        </div>
      </div>
      <md-divider></md-divider>
      <div ng-if="person.followers.length > 0" layout="column" layout-padding>
        <div ng-click="followersExpanded = !followersExpanded" layout flex>
          <span>Followers&nbsp;<span class="tab">({{person.followers.length}})</span></span>
          <span flex></span>
          <span ng-class="{'fa fa-chevron-up': followersExpanded, 'fa fa-chevron-down' : !followersExpanded}"></span>
        </div>
        <div ng-show="followersExpanded">
          <span ng-repeat="follower in person.followers" layout layout-align="start center">
            <span  class='fa fa-user' layout-margin></span>
            <a ng-if="follower.accounts.local.username != user.username" ng-href="#" ng-click="showUser(friend.accounts.local.username)">
              {{follower.accounts.local.username}}
            </a>
            <h5 ng-if="follower.accounts.local.username == user.username">Me</h5>
          </span>
        </div>
      </div>
      <md-divider></md-divider>
      <div ng-if="person.following.length > 0" layout="column" layout-padding>
        <div ng-click="followingExpanded = !followingExpanded" layout flex>
          <span>Following&nbsp;<span class="tab">({{person.following.length}})</span></span>
          <span flex></span>
          <span ng-class="{'fa fa-chevron-up': followingExpanded, 'fa fa-chevron-down' : !followingExpanded}"></span>
        </div>
        <div ng-show="followingExpanded">
          <span ng-repeat="following in person.following" ng-if="following.accounts.local.username != user.username" class='fa fa-user'>
            &nbsp;<a ng-href="#" ng-click="showUser(following.accounts.local.username)">{{following.accounts.local.username}}</a>
          </span>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions class="dialog-actions" layout="row">
    <md-button ng-if='!person.blocked' style='background-color:red;color:white;' class="md-raised md-icon-button"
        aria-label="Block" ng-click="block(person.username)" ng-class="{'disabled': person.followed}">
      <span class="fa fa-times"></span>
      <md-tooltip md-direction="bottom" md-delay=10>Block</md-tooltip>
    </md-button>
    <md-button ng-if='person.blocked' style='background-color:#5cb85c;color:white;' class="md-raised md-icon-button"
        aria-label="Unblock" ng-click="unblock(person.username)" ng-class="{'disabled': person.followed}">
      <span class="fa fa-check"></span>
      <md-tooltip md-direction="bottom" md-delay=10>Unblock</md-tooltip>
    </md-button>
    <span flex></span>
    <md-button ng-if='person.followable && !person.followed' style='background-color:#5cb85c;color:white;' class="md-icon-button"
        aria-label="Follow" ng-click="follow(person.username)">
      <span class="fa fa-plus"></span>
      <md-tooltip md-direction="bottom" md-delay=10>Follow</md-tooltip>
    </md-button>
    <md-button ng-if='person.followed' class="md-raised md-warn md-icon-button"
        aria-label="Unfollow" ng-click="unfollow(person.username)">
      <span class="fa fa-minus"></span>
      <md-tooltip md-direction="bottom" md-delay=10>Unfollow</md-tooltip>
    </md-button>
    <md-button ng-if='person.befriendable && !person.isfriend && !person.wantsfriendship && !person.requested' style='background-color:#5cb85c;color:white;' class="md-icon-button"
        aria-label="Request" ng-click="request(person.username)">
      <span class="fa fa-user-plus"></span>
      <md-tooltip md-direction="bottom" md-delay=10>Request</md-tooltip>
    </md-button>
    <md-button ng-if='person.requested' class="md-raised md-warn md-icon-button"
        aria-label="Unrequest" ng-click="unrequest(person.username)" ng-class="{'disabled': person.followed}">
      <span class="fa fa-user-times"></span>
      <md-tooltip md-direction="bottom" md-delay=10>Cancel Friend Request</md-tooltip>
    </md-button>
    <md-button ng-if='person.wantsfriendship' class="md-icon-button md-accent md-raised"
        aria-label="Accept Friend Request" ng-click="befriend(person.username)">
      <span class="fa fa-user-plus"></span>
      <md-tooltip md-direction="bottom" md-delay=10>Accept Friend Request</md-tooltip>
    </md-button>
    <md-button ng-if='person.isfriend' style='background-color:red;color:white;' class="md-icon-button"
        aria-label="Unfriend" ng-click="unfriend(person.username)">
      <span class="fa fa-user-times"></span>
      <md-tooltip md-direction="bottom" md-delay=10>Unfriend</md-tooltip>
    </md-button>
  </md-dialog-actions>
</md-dialog>          