<md-toolbar class="md-top-toolbar" layout='row' layout-padding layout-align='center center'>
  <div layout="row" layout-align="center center">
    <h4>Apps</h4>
  </div>
  <span flex></span>
  <md-menu-bar layout='row' layout-align='center center'>
    <md-menu>
      <button class="md-icon-button" aria-label="Notifications" 
          ng-click="{'open':$mdOpenMenu(),'get':getNotifications()}">
        <span class='fa fa-bell'>
          <span ng-show="notifications.unread.length">{{notifications.length}}</span>
        </span>
        <md-tooltip md-direction="bottom" md-delay=10>Notifications</md-tooltip>
      </button>
      <md-menu-content width='2'>
        <md-button ng-click="goTo('notifications')" layout-align='center center'>
          <span class='fa fa-th-list'>&nbsp;View All</span>
        </md-button>        
        <div class="overscroll-y" layout="column" layout-fill>
          <div class="popupnotification no-select" ng-repeat="notification in notifications" layout-margin>
            <div layout layout-fill layout-align="center center" layout-padding
                ng-class="{'read': notificationRead(notification), 'unread': !notificationRead(notification)}"
                ng-click="checkOut(notification)"
                ng-show="!notificationRead(notification)"
                md-swipe-right="toggleReadStatus(notification)"
                md-swipe-left="toggleReadStatus(notification)">
              <span class="fa" ng-class="{
                  'fa-lock':concernIs('security',notification),
                  'fa-users':concernIs('social',notification),
                  'fa-clip':concernIs('video',notification),
                  'fa-music':concernIs('music',notification),
                  'fa-cogs':concernIs('settings',notification)
                  }" layout-margin>
              </span>              
              <span class='message' layout layout-align="start center" layout-wrap flex>
                <span>{{notification.message | camelcase:[0]}}</span>                
              </span>                
              <span class="md-icon-button action fa fa-times"  layout-margin
                ng-click="toggleReadStatus(notification)">                
              </span> 
            </div>
          </div>
        </div>          
      </md-menu-content>
    </md-menu>
    <md-menu>
      <button class="md-icon-button" aria-label="User options" ng-click="$mdOpenMenu()">
        <span class="fa fa-user"></span>
        <md-tooltip md-direction="bottom" md-delay=10>User options</md-tooltip>
      </button>
      <md-menu-content width="2">
        <md-menu-item>
          <md-button ng-click="goTo('profile')" aria-label="My account" layout-align="start center" layout-fill>
            <span class="fa fa-user">&nbsp;My account</span>
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="!settings.apps.settings.display.showinlauncher">            
          <md-button ng-click="goTo('settings',true)" aria-label="Settings" layout-align="center center">
            <span class="fa fa-cogs">&nbsp;Settings</span>
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>            
          <md-button ng-click="lockSession()" aria-label="Lock Session" layout-align="start center" layout-fill>
            <span class="fa fa-lock">&nbsp;Lock Session</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>            
          <md-button ng-click="signOutOfDevice()" aria-label="Sign out" layout-align="start center" layout-fill>
            <span class="fa fa-sign-out">&nbsp;Sign Out</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-menu-bar>
</md-toolbar>
<div id='Launcher' class="no-select" md-swipe-right="prevView()" md-swipe-left="nextView()" 
        layout-align='center center' layout='column' flex>        
    <div id='Views' class="text-center no-select" layout flex>
      <div ng-repeat="view in views" class=""  id="{{view.id}}" ng-hide="!isCurrentViewIndex($index)">
        <h5 class="no-select">{{view.name}}</h5>
        <md-button ng-repeat='app in view.apps' ng-if='app.settings.display.showinlauncher' 
            ng-click="{goTo:goTo(app.url), count:count(app.url)}" 
            class="md-raised Icon" aria-label='{{app.name}}'>
          <ng-md-icon icon="{{app.icon}}" style="fill: {{app.color}}" size='32'></ng-md-icon>
          <md-tooltip md-direction="bottom" md-delay=10>{{app.name}}</md-tooltip>
        </md-button>
      </div>      
    </div>    
</div>
<md-toolbar class='md-menu-toolbar' layout='row' layout-align='center center'>
    <div flex='20' layout-fill></div>
    <div id='Tabs'  flex='60' layout='row' layout-fill layout-align='center center'>
      <div ng-repeat='view in views' id="{{view.button}}" class='btn Tab'
          ng-class="{'active':isCurrentViewIndex($index)}" 
          ng-click="setCurrentViewIndex($index);" id='{{view.id}}'>
        <md-tooltip md-delay=50>{{view.name}}</md-tooltip>
      </div>
    </div>
    <div layout layout-fill layout-align='end center' layout-padding flex='20'>
      <a id='contactus' href='/contactus'>
        <md-tooltip md-direction="top" md-delay=50>Contact Us</md-tooltip>
        <span class="fa fa-phone"></span>
      </a>
      <a id='tncs' href='/tncs'>
        <md-tooltip md-direction="top" md-delay=50>Terms and Conditions</md-tooltip>
        <span class="fa fa-edit"></span>
      </a>
      <a id='aboutus' href='/aboutus'>
        <md-tooltip md-direction="top" md-delay=50>About Us</md-tooltip>
        <span class="fa fa-info"></span>
      </a>
    </div>
</md-toolbar>