<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Floatr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
        crossorigin="anonymous">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/misc/register-worker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous">
    </script>
    <script src="/js/misc/is.min.js"></script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.3.2/svg-morpheus.js"></script>
    <script src="/js/angular/main/angular-file-saver.bundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
    <script src="/js/angular/main.js"></script>
    <script src="/js/angular/$client.js"></script>
    <script src="/js/angular/animations/fadeout.js"></script>
    <script src="/js/angular/animations/fadein.js"></script>
    <script src="/js/angular/animations/slide.js"></script>
    <script src="/js/angular/controllers/main.js"></script>
    <script src="/js/angular/controllers/aboutus.js"></script>
    <script src="/js/angular/controllers/apps.js"></script>
    <script src="/js/angular/controllers/auth.js"></script>
    <script src="/js/angular/controllers/contactus.js"></script>
    <script src="/js/angular/controllers/gamer.js"></script>
    <script src="/js/angular/controllers/ideas.js"></script>
    <script src="/js/angular/controllers/lock.js"></script>
    <script src="/js/angular/controllers/logs.js"></script>
    <script src="/js/angular/controllers/linkapp.js"></script>
    <script src="/js/angular/controllers/music.js"></script>
    <script src="/js/angular/controllers/profile.js"></script>
    <script src="/js/angular/controllers/settings.js"></script>
    <script src="/js/angular/controllers/start.js"></script>
    <script src="/js/angular/controllers/stats.js"></script>
    <script src="/js/angular/controllers/tncs.js"></script>
    <script src="/js/angular/controllers/video.js"></script>
    <script src="/js/angular/filters/camelcase.js"></script>
    <script src="/js/angular/filters/time.js"></script>
  </head>
  <body md-theme="{{siteTheme}}" ng-app="app" ng-controller="mainController" ng-cloak layout-fill>
    <div class="welcome" ng-class="{'odd': is('odd','date'), 'even': is('even','date')}" ng-show="!ready" md-theme="skyblue" layout="column" layout-fill="" layout-align="center center">
      <div flex="" layout="" layout-align="center center">
        <h1>Welcome</h1>
      </div>
      <md-progress-linear ng-class="{'md-accent': is('odd','date'), 'md-primary': is('even','date')}" layout-align="center center" md-mode="indeterminate">
      </md-progress-linear>
      <p layout-nowrap="">{{activity}}</p>
      <div layout="column" layout-gt-sm="row" flex="5">
        <p>Status:&nbsp;{{sitestatus | camelcase:[0]}}</p>
      </div>
    </div>
    <ui-view md-theme="{{appTheme}}" class='app' id="toastBounds" layout='column' layout-fill ng-cloak></ui-view>
  </body>
</html>