<!DOCTYPE html>
<html ng-app="app" ng-controller='mainController' ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Floatr - Farther your reach</title>

    <script src="/js/misc/register-worker.js"></script>
    
    <link rel="stylesheet" href="/css/bootstrap-3.3.5-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/css/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/js/misc/is.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/angular/main/angular.js"></script>
    <script src="/js/angular/main/angular-aria.min.js"></script>
    <script src="/js/angular/main/angular-animate.min.js"></script>
    <script src="/js/angular/main/angular-messages.js"></script>
    <script src="/js/angular/main/angular-material.js"></script>
    <script src="/js/angular/main/angular-material-icons.min.js"></script>
    <script src="/js/angular/main/angular-ui-router.min.js"></script>
    <script src="/js/angular/main/angular-file-saver.bundle.js"></script>
    <script src="/js/TweenMax/TweenMax.min.js"></script>
    <script src="/js/angular/main.js"></script>
    <script src="/js/angular/$client.js"></script>
    <script src="/js/angular/animations/fadeout.js"></script>
    <script src="/js/angular/animations/fadein.js"></script>
    <script src="/js/angular/animations/slide.js"></script>
    <script src="/js/angular/controllers/main.js"></script>
    <script src="/js/angular/controllers/aboutus.js"></script>
    <script src="/js/angular/controllers/apps.js"></script>
    <script src="/js/angular/controllers/auth.js"></script>
    <script src="/js/angular/controllers/contactus.js"></script>
    <script src="/js/angular/controllers/gamer.js"></script>
    <script src="/js/angular/controllers/ideas.js"></script>
    <script src="/js/angular/controllers/lock.js"></script>
    <script src="/js/angular/controllers/logs.js"></script>
    <script src="/js/angular/controllers/linkapp.js"></script>
    <script src="/js/angular/controllers/music.js"></script>
    <script src="/js/angular/controllers/profile.js"></script>
    <script src="/js/angular/controllers/settings.js"></script>
    <script src="/js/angular/controllers/start.js"></script>
    <script src="/js/angular/controllers/stats.js"></script>
    <script src="/js/angular/controllers/tncs.js"></script>
    <script src="/js/angular/controllers/video.js"></script>
    <script src="/js/angular/filters/camelcase.js"></script>
    <script src="/js/angular/filters/time.js"></script>
  </head>
  <body id="toastBounds" md-theme="{{siteTheme}}" layout-fill layout-align="center center">
    <div class="welcome" ng-class="{'odd': is('odd','date'), 'even': is('even','date')}"
        ng-show="!ready" ng-class="{'overlay': !online&&loaded}"  class="" md-theme="skyblue" 
        layout="column" layout-fill layout-align="center center">
      <div flex layout layout-align="center center">
        <h1>Welcome</h1>
      </div>
      <md-progress-linear
          ng-class="{'md-accent': is('odd','date'), 'md-primary': is('even','date')}"  
          layout-align="center center" md-mode="indeterminate">
      </md-progress-linear>
      <p layout-nowrap>{{activity}}</p>
      <div layout="column" layout-gt-sm="row" flex="5">
        <p>Status:&nbsp;{{sitestatus | camelcase:[0]}}</p>
      </div>
    </div>  
    <ui-view md-theme="{{appTheme}}" class='app' layout='column' layout-fill></ui-view>    
  </body>
</html>