<div id='moviessettingsview' class='viewpart' layout-fill>
  <md-toolbar layout='row' layout-padding layout-align='center center' class='md-slim-toolbar'>
    <h4>Gamer Settings</h4>
    <span flex></span>
    <md-button ng-if="!settings.apps.settings.misc.autosync" ng-click='saveSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-save'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Save Settings</md-tooltip>
    </md-button>
    <md-button ng-click='getSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-refresh'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Refresh Settings</md-tooltip>
    </md-button>
  </md-toolbar>
  <md-content layout='column' layout-fill>
    <md-tabs md-selected="state.views.settings.gamer" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Display</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show in launcher</h4>
                <p layout-wrap>Make this app visible in the app launcher</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.gamer.display.showinlauncher" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show navigation</h4>
                <p layout-wrap>Toggle the nav bar</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.gamer.display.shownav" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show quick actions</h4>
                <p layout-wrap>Toggle quick actions on games in the library.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.gamer.display.quickactions" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show quick actions?">
              </md-switch>
            </div>
            <md-divider ng-if="!settings.apps.general.universaltheme"></md-divider>
            <div ng-if="!settings.apps.general.universaltheme" flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Theme</h4>
                <p layout-wrap>Use this theme on this app.</p>
              </div>
              <span flex></span>
              <md-select class="md-primary" ng-model="settings.apps.gamer.display.theme" layout-align="end center"
                  ng-change="syncSettings()" aria-label="Select universal theme">
                <md-option ng-repeat="theme in themes" value="{{theme.shortname}}">{{theme.name}}</md-option>
              </md-select>
            </div>            
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Gaming</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
          </md-content>
        </md-tab-body>
      </md-tab>      
    </md-tabs>
  </md-content>
</div>