<md-content id='contactsview' class="viewpart no-drag" layout-fill layout-margin>
  <ul id="messages" class="overflowscroll-y" layout="column" layout-fill>
    <span layout layout-margin>
      <h4 ng-if="user.social.friends.length">Friends</h4>
      <span flex></span>
      <md-button ng-click="addContact($event)" class="md-icon-button md-raised md-primary" aria-label="Add Contact">
        <span class="fa fa-user-plus"></span>
        <md-tooltip ng-if="gt_sm" md-direction="" delay=10>Add Contact</md-tooltip>
      </md-button>
    </span>
    <md-divider></md-divider>
    <li ng-repeat="friend in user.social.friends" layout="row" 
        ng-click="sendTo({name:friend.accounts.local.username},true)">
      <div><img></img></div>
      <h5>{{friend.accounts.local.username | camelcase:[0]}}</h5>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Call {{friend.accounts.local.username | camelcase:[0]}}" ng-click="call(friend,true)">
        <span class="fa fa-phone"></span>
        <md-tooltip md-direction="bottom" delay=10>Call</md-tooltip>
      </md-button>      
    </li>    
  </ul>
</md-content>