<div layout="column" layout-fill>
  <div ng-hide="with" layout="column">
      <ul id="messages" class="overflowscroll-y" layout="column" layout-fill>
        <li layout layout-align="start center" ng-click="sendTo({name:'public'})">
          <span class="fa fa-users" layout-padding layout-margin></span>
          <h4>Public Room</h4>
        </li>
        <li ng-repeat="chat in user.interactions.chats" layout="row"
            ng-click="sendTo({id: chat._id})"  layout-align="start center">
          <span class="fa fa-user" layout-padding layout-margin></span>
          <h4>{{chat.with.accounts.local.username | camelcase:[0]}}</h4>          
          <span flex>{{chat.messages}}</span>
        </li>
      </ul>
  </div>
  <div ng-show="with" layout="column" layout-fill>
    <md-toolbar class="md-slim-toolbar" layout="row" layout-align="center center" layout-padding flex=5>
      <span class="fa fa-chevron-left" ng-click="clearSendTo()"></span>
      <h4>{{chat.with.accounts.local.username || recipient.name | camelcase:[0]}}</h4>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Call {{recipient}}" ng-click="call(recipient,true)">
        <span class="fa fa-phone"></span>
        <md-tooltip md-direction="bottom" delay=10>Call</md-tooltip>
      </md-button>
      <md-menu-bar layout='row' layout-align='center center'>
        <md-menu>
          <button class="md-icon-button" aria-label="Attach file." ng-click="$mdOpenMenu()">
            <span class='fa fa-paperclip'></span>
            <md-tooltip md-direction="bottom" delay=10>Attach file</md-tooltip>
          </button>
          <md-menu-content class='overflowscroll-y' width='2' style='max-height: 100px'>
            <md-menu-item layout layout-align="start center">
              <span ng-click="attach('file')" layout-align='center center'
                  ng-class="{'fa fa-circle': onlineStatus == 'offline', 'fa fa-circle-o': !onlineStatus != 'offline'}">
                File
              </span>
            </md-menu-item>
            <md-menu-item layout layout-align="start center">
              <span ng-click="attach('location')" layout-align='center center'
                ng-class="{'fa fa-circle': onlineStatus == 'away', 'fa fa-circle-o': !onlineStatus != 'away'}">
              Location
              </span>
            </md-menu-item>
            <md-menu-item layout layout-align="start center">
              <span ng-click="attach('link')" layout-align='center center'
                ng-class="{'fa fa-circle': onlineStatus == 'offline', 'fa fa-circle-o': !onlineStatus != 'offline'}">
                Link
              </span>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-menu-bar>
    </md-toolbar>
    <div layout="column" class="overflowscroll-y no-drag" flex=90>
      <ul id="messages" layout-padding>
        <li ng-repeat="message in messages" layout="column"
            ng-class="{'sent': sentMessage(message), 'recieved': !sentMessage(message)}">
          <div class="message" layout>
            <div class='text' layout="column" layout-fill>
              <h5>{{message.sender.user.accounts.local.username | camelcase:[0]}}</h5>
              <p>{{message.text}}</p>            
            </div>
          </div>
          <div class="details" layout layout-align="center center">
            <span class="fa" 
              ng-class="{'fa-tv': deviceType('Desktop',message),'fa-laptop':deviceType('Laptop',message),
              'fa-tablet': deviceType('Tablet',message),'fa-mobile': deviceType('Phone',message)}">
              <md-tooltip md-delay=50>Sent from {{message.sender.device.machine}}</p>
            </span>
            <span flex></span>
            <span>{{message.time | time:[{timeformat: '12'}]}}</span>
            <span style="color: blue;" class="fa fa-check"></span>            
            <span style="color: blue;" class="fa fa-check"></span>
            <span ng-hide="!message.recieved" class="fa fa-check"></span>            
            <span ng-hide="!message.read" class="fa fa-check"></span>
          </div>
        </li>
      </ul>
    </div>
    <div layout="row" flex=5>
      <form id="messagesform" layout layout-fill  ng-submit="sendMessage(text)">
        <input id="m" ng-model="text" autocomplete="off" flex/>
        <button class="md-primary md-raised" type="submit">Send</button>
      </form>
    </div>    
  </div>
</div>