<md-toolbar class="no-select md-top-toolbar" layout='row' layout-nowrap layout-align='center center'>
    <md-button class="md-icon-button" aria-label="User options" ng-click="goTo('apps')">
        <span class='fa fa-th'></span>
        <md-tooltip md-direction="bottom" md-delay=10>Apps</md-tooltip>
    </md-button>
    <div layout-align='center center' flex><h4>LinkApp</h4></div>
    <md-menu-bar layout='row' layout-align='center center'>
      <md-menu>
        <button class="md-icon-button" aria-label="Online status" ng-click="$mdOpenMenu()">
          <span class='fa fa-crosshairs'></span>
          <md-tooltip md-direction="bottom" md-delay=10>Online Status</md-tooltip>
        </button>
        <md-menu-content class='overflowscroll-y' width='2' style='max-height: 100px'>
          <md-menu-item layout layout-align="start center">
            <span style="color: green;" ng-click="changeStatus('online')" layout-align='center center'
              ng-class="{'fa fa-circle': onlineStatus == 'online', 'fa fa-circle-o': onlineStatus != 'online'}">
              &nbsp;Online
            </span>
          </md-menu-item>
          <md-menu-item layout layout-align="start center">
            <span style="color: blue;" ng-click="changeStatus('busy')" layout-align='center center'
              ng-class="{'fa fa-circle': onlineStatus == 'busy', 'fa fa-circle-o': onlineStatus != 'busy'}">
              &nbsp;Busy
            </span>
          </md-menu-item>
          <md-menu-item layout layout-align="start center">
            <spanstyle="color: yellow;" ng-click="changeStatus('away')" layout-align='center center'
                ng-class="{'fa fa-circle': onlineStatus == 'away', 'fa fa-circle-o': !onlineStatus != 'away'}">
              &nbsp;Away
            </span>
          </md-menu-item>
          <md-menu-item layout layout-align="start center">
            <span style="color: red;" ng-click="changeStatus('offline')" layout-align='center center'
                ng-class="{'fa fa-circle': onlineStatus == 'offline', 'fa fa-circle-o': !onlineStatus != 'offline'}">
              &nbsp;Offline
            </span>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button class="md-icon-button" aria-label="Notifications" 
          ng-click="{'open':$mdOpenMenu(),'get':getNotifications()}">
        <span class='fa fa-bell'>
          <span ng-show="notifications.unread.length">{{notifications.length}}</span>
        </span>
        <md-tooltip md-direction="bottom" md-delay=10>Notifications</md-tooltip>
      </button>
      <md-menu-content width='2'>
        <md-button ng-click="goTo('notifications')" layout-align='center center'>
          <span class='fa fa-th-list'>&nbsp;View All</span>
        </md-button>        
        <div class="overscroll-y" layout="column" layout-fill>
          <div class="popupnotification no-select" ng-repeat="notification in notifications" layout-margin>
            <div layout layout-fill layout-align="center center" layout-padding
                ng-class="{'read': notificationRead(notification), 'unread': !notificationRead(notification)}"
                ng-click="checkOut(notification)"
                ng-show="!notificationRead(notification)"
                md-swipe-right="toggleReadStatus(notification)"
                md-swipe-left="toggleReadStatus(notification)">
              <span class="fa" ng-class="{
                  'fa-lock':concernIs('security',notification),
                  'fa-users':concernIs('social',notification),
                  'fa-clip':concernIs('video',notification),
                  'fa-music':concernIs('music',notification),
                  'fa-cogs':concernIs('settings',notification)
                  }" layout-margin>
              </span>              
              <span class='message' layout layout-align="start center" layout-wrap flex>
                <span>{{notification.message | camelcase:[0]}}</span>                
              </span>                
              <span class="md-icon-button action fa fa-times"  layout-margin
                ng-click="toggleReadStatus(notification)">                
              </span> 
            </div>
          </div>
        </div>          
      </md-menu-content>
      </md-menu>
      <md-menu>
        <button class="md-icon-button" aria-label="User options" ng-click="$mdOpenMenu()">
          <span class="fa fa-user"></span>
          <md-tooltip md-direction="bottom" md-delay=10>User options</md-tooltip>
        </button>
        <md-menu-content width="2">
          <md-menu-item>
            <md-button ng-click="goTo('profile')" aria-label="My account" layout-align="start center" layout-fill>
              <span class="fa fa-user">&nbsp;My account</span>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>            
            <md-button ng-click="lockSession()" aria-label="Lock Session" layout-align="start center" layout-fill>
              <span class="fa fa-lock">&nbsp;Lock Session</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>            
            <md-button ng-click="signOutOfDevice()" aria-label="Sign out" layout-align="start center" layout-fill>
              <span class="fa fa-sign-out">&nbsp;Sign Out</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          <ng-md-icon icon="more_vert" style="fill: white" size="24"></ng-md-icon>
          <md-tooltip md-direction="bottom" md-delay=10>More</md-tooltip>
        </button> 
        <md-menu-content width="0.5">
          <md-menu-item>            
            <md-button ng-click="goTo('settings.linkapp',true)" aria-label="LinkApp Settings" layout-align="center center"
                layout-fill>
              <span class="fa fa-cog">&nbsp;Settings</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>            
            <md-button ng-click="popup({scope: $scope,event: $event,templateUrl: '/templates/linkapp/about.html'})" aria-label="About this app" layout-align="center center"
                layout-fill>
              <span class="fa fa-info-circle">&nbsp;Info</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
</md-toolbar>
<md-content layout='column' flex>
  <div>
    <md-tabs md-selected="selectedIndex" md-autoselect md-stretch-tabs="always" 
        md-swipe-content md-dynamic-height md-border-bottom ng-hide="chatting">
      <md-tab>
        <span ng-show=gt_xs>CALLS</span>
        <span ng-hide=gt_xs class="fa fa-phone"></span>
      </md-tab> 
      <md-tab>
        <span ng-show=gt_xs>CONVERSATIONS</span>
        <span ng-hide=gt_xs class="fa fa-envelope"></span>
      </md-tab> 
      <md-tab>
        <span ng-show=gt_xs>CONTACTS</span>
        <span ng-hide=gt_xs class="fa fa-users"></span>
      </md-tab> 
    </md-tabs>
  </div>
  <ui-view layout layout-fill flex md-swipe-right="switchTo({{selectedIndex -1}})" 
    md-swipe-left="switchTo({{selectedIndex+1}})">
  </ui-view>
</md-content>