<div id='moviessettingsview' class='viewpart' layout-fill>
  <md-toolbar layout='row' layout-padding layout-align='center center' class='md-slim-toolbar'>
    <h4>LinkApp Settings</h4>
    <span flex></span>
    <md-button ng-if="!settings.apps.settings.misc.autosync" ng-click='saveSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-save'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Save Settings</md-tooltip>
    </md-button>
    <md-button ng-click='getSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-refresh'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Refresh Settings</md-tooltip>
    </md-button>
  </md-toolbar>
  <md-content layout='column' layout-fill>
    <md-tabs md-selected="state.views.settings.linkapp" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Display</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show in launcher</h4>
                <p layout-wrap>Make this app visible in the app launcher</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.linkapp.display.showinlauncher" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show quick actions</h4>
                <p layout-wrap>Toggle quick actions on messages.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.linkapp.display.quickactions" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show quick actions?">
              </md-switch>
            </div>
            <md-divider ng-if="!settings.apps.general.rememberstates"></md-divider>
            <div ng-if="!settings.apps.general.rememberstates" flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Start On</h4>
                <p layout-wrap>Choose on which page to start when you open LinkApp. 
                Only works if you have disabled remembering of apps' previous state in general settings.</p>
              </div>
              <span flex=5></span>
              <md-select ng-model="settings.apps.linkapp.display.startin" layout-align="end center"
                 class="md-primary" md-on-close="syncSettings()" aria-label="Start on which page?">
                <md-option ng-repeat="state in states.linkapp" value="{{state.abbrev}}">
                  {{state.name}}
                </md-option>
              </md-select>
            </div>
            <md-divider ng-if="!settings.apps.general.universaltheme"></md-divider>
            <div ng-if="!settings.apps.general.universaltheme" flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Theme</h4>
                <p layout-wrap>Use this theme on this app.</p>
              </div>
              <span flex></span>
              <md-select class="md-primary" ng-model="settings.apps.linkapp.display.theme" layout-align="end center"
                  ng-change="syncSettings()" aria-label="Select universal theme">
                <md-option ng-repeat="theme in themes" value="{{theme.shortname}}">{{theme.name}}</md-option>
              </md-select>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Calls</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show navigation</h4>
                <p layout-wrap>Toggle the nav bar</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.linkapp.calls.shownav" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider></md-divider>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Messaging</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>New message notification</h4>
                <p ng-show="settings.apps.linkapp.messaging.notifyonnewmessage" layout-wrap>Notify on new message</p>
                <p ng-hide="settings.apps.linkapp.messaging.notifyonnewmessage" layout-wrap>Do NOT notify on new message.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.linkapp.messaging.notifyonnewmessage" layout-align="end center"
                ng-change="syncSettings()" aria-label="Notify on new message?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Message history length</h4>
                <p layout-wrap>How many messages to load when you first open LinkApp and on subsequent history reloads.</p>
              </div>
              <span flex></span>
              <md-select ng-model="settings.apps.linkapp.messaging.historylength" layout-align="end center"
                 class="md-primary" md-on-close="syncSettings()" aria-label="Start on which page?">
                <md-option value="100">100 Messages</md-option>
                <md-option value="250">250 Messages</md-option>
                <md-option value="500">500 Messages</md-option>
                <md-option value="1000">1000 Messages</md-option>
                <md-option value="day">1 Day</md-option>
              </md-select>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>      
    </md-tabs>
  </md-content>
</div>