<md-content id='addview' class="viewpart no-drag" layout-fill layout-margin
       md-swipe-right="switchView('movies','right')" md-swipe-left="switchView('shows','left')">
  <h4>Add a movie</h4>
  <form name="movieInputForm" ng-submit='postMovie()'>
    <md-input-container class="md-block" flex-gt-sm='33'>
    <label for="name">Name</label>
    <input required id="name" name='name' ng-model="movie.name">
    <div ng-messages="movieInputForm.name.$error" role="alert">
      <div ng-message="required">This is required.</div>              
    </div>
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm='33'>
    <label for="description">Description</label>
    <input required id="description" name='description' ng-model="movie.description">
    <div ng-messages="movieInputForm.description.$error" role="alert">
      <div ng-message="required">This is required.</div>              
    </div>
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm='33'>
    <label for="path">Path</label>
    <input required id="path" name='path' ng-model="movie.path">
    <div ng-messages="movieInputForm.path.$error" role="alert">
      <div ng-message="required">This is required.</div>              
    </div>
  </md-input-container>  
  <md-datepicker name="dateField" ng-model="movie.releasedate" md-placeholder="Release date"
       required md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
    <div class="validation-messages" ng-messages="movieInputForm.dateField.$error">
      <div ng-message="valid">The entered value is not a date!</div>
      <div ng-message="required">This date is required!</div>
      <div ng-message="mindate">There weren't movies back then!</div>
      <div ng-message="maxdate">Hey! We are not even there yet.</div>
    </div>
    {{data}}
    <md-button type='submit' class='md-raised'>Post Movie</md-button>    
  </form>
</md-content>