<md-content id='myvideosview' class="viewpart no-drag no-select" layout-fill layout-margin
       md-swipe-right="switchView('movies','right')" md-swipe-left="switchView('shows','left')">
    <div ng-show="view == 'movies'">
      <div ng-show="!mymovies" layout-fill layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        <h4 class="text-center">Fetching movies...</h4>
      </div>
      <div ng-if="mymovies.length < 1">
       <h3 flex> This is where movies you buy will be displayed</h3>
       <br/>
       <h5 flex> You haven't bought any movies yet. :-(</h5>
       <h5 flex> Go to the library and purchase some :-)</h5>
     </div>              
     <div ng-show="mymovies" layout-fill>
        <md-grid-list md-cols="2" md-cols-sm="4" md-cols-md="5" md-cols-gt-md="6" md-cols-gt-lg="8"
            md-row-height-xs="2:1" md-row-height-sm="5:3" md-row-height-md="5:3" md-row-height-gt-md="4:3"
            md-gutter="4px" md-gutter-sm="6px" md-gutter-md="8px" >
          <md-grid-tile ng-repeat="movie in mymovies" md-rowspan="2" md-colspan="1"
              ng-click="inform(movie,$event,$index)"
              style='border: 1px solid rgba(70, 164, 181, 0.27); border-radius: 5px;'>
            <md-content class='no-drag' layout-fill>
              <img layout-fill ng-if='movie.poster' ng-src="/images/posters/{{movie.poster}}"></img>
              <img layout-fill ng-if='!movie.poster' ng-src="{{movie.Poster}}" ></img>
            </md-content>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
    <div ng-show="view == 'shows'">
      <div ng-show="!myshows" layout-fill layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        <h4 class="text-center">Fetching shows...</h4>
      </div>
      <div ng-if="myshows.length < 1">
       <h3 flex> This is where TV shows you buy will be displayed</h3>
       <br/>
       <h5 flex> You haven't bought any TV shows yet. :-(</h5>
       <h5 flex> Go to the library and purchase some :-)</h5>
     </div>              
     <div ng-show="myshows" layuout-fill>
        <md-grid-list md-cols="2" md-cols-sm="4" md-cols-md="5" md-cols-gt-md="6" md-cols-gt-lg="8"
            md-row-height-xs="2:1" md-row-height-sm="5:3" md-row-height-md="5:3" md-row-height-gt-md="4:3"
            md-gutter="4px" md-gutter-sm="6px" md-gutter-md="8px" >
          <md-grid-tile ng-repeat="show in myshows" md-rowspan="2" md-colspan="1"
              ng-click="inform(show,$event,$index)"
              style='border: 1px solid rgba(70, 164, 181, 0.27); border-radius: 5px;'>
            <md-content class='no-drag' layout-fill>
              <img layout-fill ng-if='show.poster' ng-src="/images/posters/{{show.poster}}"></img>
              <img layout-fill ng-if='!show.poster' ng-src="{{show.Poster}}" ></img>
            </md-content>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
</md-content>