<md-dialog aria-label="{{item.title}}" layout='column'>
  <md-dialog-content class="md-dialog-content"  layout='column' layout-align="center center">
    <h3 ng-if="action == 'play'" aria-label='Play {{item.title}}?'>Play {{item.title}}?</h3>
    <h3 ng-if="action == 'download'" aria-label='Download {{item.title}}?'>
      Download {{item.title}}<span ng-if="item.format"> in <code>.{{item.format}}</code> format</span>?
    </h3>
    <h3 ng-if="action == 'buy'" aria-label='Buy {{item.title}}?'>Buy {{item.title}}?</h3>
    <div ng-if="action == 'buy'" class='md-dialog-content-body'>
      <p>This will cost you {{item.price}} credits.</p>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout='row'>    
    <md-button class="md-raised" aria-label='No' ng-click='inform(item,event,index)'>No</md-button>
    <span flex></span>
    <md-button style='background-color:#5cb85c;color:white;' class="md-raised" aria-label='Yes' ng-click="execute()">Yes</md-button>
  </md-dialog-actions>
</md-dialog>