<md-dialog aria-label="{{item.title}}" layout='column'>
  <md-dialog-content class="md-dialog-content"  layout='column' layout-align="start center">
    <h4 aria-label='Choose format to download in.'>Choose format to download in.</h4>
  </md-dialog-content>
  <md-dialog-actions layout='row'>    
    <md-button class="md-raised" aria-label='Cancel' ng-click='inform(item,event,index)'>Cancel</md-button>
    <span flex></span>
    <md-button style='background-color:#5cb85c;color:white;' ng-repeat="ext in item.availableextensions" 
        class="md-raised" aria-label='{{ext}} format' ng-click="confirm('download',{format : ext})">
      {{ext | filter: uppercase}}
    </md-button>    
  </md-dialog-actions>
</md-dialog>