<md-dialog md-theme="{{appTheme}}" aria-label="{{item.name}}"  ng-cloak>
  <md-toolbar class="md-top-toolbar">
    <div class="md-toolbar-tools" layout="row" layout-nowrap>
      <div layout="row" layout-align="start center">
        <h2>{{item.title}}</h2>
        <h5 ng-show="gt_xs">&nbsp;({{item.year}})</h5>
      </div>
      <span flex></span>
      <md-button class="md-icon-button" aria-label='Close' ng-click="closeDialog()">
        <span class="fa fa-close"></span>
        <md-tooltip md-direction="left" md-delay=10>Close</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-tabs md-selected=tabIndex md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          INFO
        </md-tab-label>
        <md-tab-body class='overflowscroll-y'>
          <md-content class="md-padding" layout='column'>
            <div ng-if="item.type != 'movie'"  layout-align="center center">
                <div ng-if="item.type == 'season'" ng-click="showShow(item.show.title)">
                    <h5>{{item.show.title}}</h5>
                </div>
                <div ng-if="item.type == 'episode'" ng-click="showShow(item.season.name)">
                    <h5>{{item.season.name}}</h5>
                </div>
            </div>
            <div layout='column' layout-gt-xs='row'>
              <div class='no-drag' layout layout-margin 
                  ng-class="{'xs-pic': $mdMedia('min-width: 599px'),'sm-pic': $mdMedia('min-width: 960px')
                  ,'md-pic': $mdMedia('min-width: 1280px'),'lg-pic': $mdMedia('min-width: 1920px')}">
                <img flex ng-if='item.poster' ng-src="/images/posters/{{item.poster}}"></img>
                <img flex ng-if='!item.poster' ng-src="{{item.Poster}}" ></img>
              </div>
              <br hide-gt-xs/>
              <div layout='column' layout-margin>
                <p ng-if="item.year"><b>Title: </b> {{item.title}}</p>
                <p ng-if="item.type == 'show'"><b>Seasons:</b> {{item.seasons.length}}</p>
                <p ng-if="item.type == 'show' || item.type == 'season'"><b>Episodes:</b> {{item.episodes.length}}</p>
                <p ng-if="item.year"><b>Year:</b> {{item.year}}</p>
                <p ng-if="item.released"><b>Released:</b> {{item.released}}</p>
                <p ng-if="item.production_companies">
                  <b>Studios:</b>
                  <span ng-repeat='company in item.production_companies'>{{company.name}}, </span>
                </p>
                <p ng-if="item.actors"><b>Starring:</b> {{item.actors}}</p>
                <p ng-if="item.director"><b>Director:</b> {{item.director}}</p>
                <p ng-if="item.writer"><b>Writer:</b> {{item.writer}}</p>
                <p ng-if="item.genre"><b>Genre:</b> {{item.genre}}</p>
                <p ng-if="item.rated"><b>Rated:</b> {{item.rated}}</p>
                <p ng-if="settings.display.preferedratings == 'local'"><b>Rating:</b> {{item.averagerating}} / 10</p>
                <p ng-if="settings.display.preferedratings == 'imdb'"><b>IMDB Rating:</b> {{item.imdbrating}} / 10</p>
                <p ng-if="item.awards"><b>Awards:</b> {{item.awards}}</p>
                <p ng-if="item.website && item.website != 'N/A'">
                  <b>Website:</b>
                  <a ng-href="{{item.website}}"> {{item.website}}</a>
                </p>
                <p ng-if="!item.website && item.homepage">
                  <b>Website:</b>
                  <a ng-href="{{item.homepage}}"> {{item.homepage}}</a>
                </p>
              </div>
            </div>
            <br ng-if="item.tagline"/>
            <h5 ng-if="item.tagline"><b>Tag Line:</b> {{item.tagline}}</h5>
            <br/>
            <h5 ng-if="item.plot"><b>Plot</b></h5>
            <p ng-if="item.plot">{{item.plot}}</p>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          COMMENTS
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding" layout="column">
            <div layout-align='end start' layout='row'>
                <md-input-container class="md-block">
                  <label for="rating">Rating</label>
                  <input type='Number' id='rating' name='rating' ng-model="item.rating" min='1' max="10"></input>                    
                </md-input-container>
                <md-input-container class="md-block" flex>
                  <label for="comment"><span class='fa fa-comment'> Comment</span></label>
                  <input type='text' id='comment' name='comment' ng-model="item.comment"></input>                    
                </md-input-container>                
            </div>
            <div layout='column' class="overflowscroll-y">
              <div ng-if="item.comments.length < 1" layout-align="center center">                
                <h4>No comments. Be the first to comment and rate.</h4>
              </div>
              <div ng-if="item.comments.length > 0" ng-repeat='comment in item.comments' layout='column'>
                <p>{{comment.comment}}</p>
                <div layout='row'>
                  <span ng-if="comment.author.username != user.username" class='fa fa-thumbs-o-up' ng-click='like(item,$index)'>&nbsp;{{comment.likes}}&nbsp; 
                    <md-tooltip md-direction='top' md-delay=10>Like</md-tooltip>
                  </span>
                  <span  ng-if="comment.author.username != user.username" class='fa fa-thumbs-o-down' ng-click='dislike(item,$index)'>&nbsp;{{comment.dislikes}}&nbsp; 
                    <md-tooltip md-direction='top' md-delay=10>Dislike</md-tooltip>
                  </span>
                  <span flex></span>
                  <span class='fa fa-star'>&nbsp;{{comment.rating}}&nbsp;&nbsp;</span>
                  <span ng-if="comment.author.username == user.username" class='fa fa-user'>&nbsp;Me</span>
                  <span ng-if="comment.author.username != user.username" class='fa fa-user'>
                    &nbsp;<a ng-href="#" ng-click="showUser(comment.author.username)">{{comment.author.username}}</a>
                  </span>
                </div>
                <md-divider></md-divider>
              </div>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
  <md-dialog-actions class="dialog-actions" layout="row">
    <div ng-if='tabIndex == 0 && !item.owned'><h4><b>Price:</b> <b class="md-primary"> {{item.price}} Credits</b></h4></div>
    <span flex></span>
    <md-button class="md-primary md-raised" ng-if="tabIndex == 0 && item.owned" class="md-raised" aria-label="Play"
          label='Play' ng-click="confirm('play',{})" ng-class="{'disabled': item.gettinglink}">
      <span ng-if='!item.gettinglink' class='fa fa-youtube-play'></span>
      <span ng-if='item.gettinglink' class='fa fa-spin fa-spinner'></span>
    </md-button>
    <md-button class="md-primary md-raised" ng-if="tabIndex == 0 && item.owned && item.type == 'movie'" class="md-raised"
        aria-label="Download" label="Download" ng-click="chooseFormat('download')" ng-class="{'disabled': item.getting}">
      <span ng-if='!item.getting' class='fa fa-download'></span>
      <span ng-if='item.getting' class='fa fa-spin fa-spinner'></span>
    </md-button>
    <md-button class="md-primary md-raised" ng-if="tabIndex == 0 && item.owned && item.type != 'movie'" class="md-raised" 
        aria-label="Download" label="Download" ng-click="confirm('download',{})" ng-class="{'disabled': item.gettinglink}">
      <span ng-if='!item.getting' class='fa fa-download'></span>
      <span ng-if='item.getting' class='fa fa-spin fa-spinner'></span>
    </md-button>
    <md-button class="md-primary md-raised" ng-if="!item.owned && tabIndex == 0" class="md-raised" aria-label="Buy"
           label='Buy' ng-click="confirm('buy',{})" ng-class="{'disabled': item.gettinglink}">
      <span ng-if='!item.buying'>BUY</span>
      <span ng-if='item.buying' class='fa fa-spin fa-spinner'></span>
    </md-button>
    <md-button class="md-primary md-hue-1 md-raised" ng-click="comment(item)"
        ng-disabled="!item.comment || !item.rating" ng-if="tabIndex == 1">
      Comment
    </md-button>
  </md-dialog-actions>
</md-dialog>