<div id='playview' class='viewpart' layout="row" layout-margin layout-fill
       md-swipe-right="switchView('movies','right')" md-swipe-left="switchView('shows','left')">
    <div layout="column" layout-margin layout-fill>
        <div>
            <video controls flex>
                <source ng-repeat="link in currentLink" ng-src="{{link.text}}" type="video/{{link.format}}"/>
                <!-- fallback -->
                Your browser does not support the <code>video</code> element.
            </video>
        </div>
        <br />
        <md-divider></md-divider>
        <div class='overflowscroll-y' ng-if="settings.display.showvideocomments">
            <div layout='column'>
              <div ng-if="item.comments.comments.length < 1" layout-align="center center">                
                <h4>No comments. Be the first to comment and rate.</h4>
              </div>
              <div class="comment" ng-if="item.comments.comments.length > 0" ng-repeat="comment in item.comments.comments" layout="column">
                <div layout-wrap>
                  {{comment.comment}}
                </div>
                <div layout="row">
                  <span class="fa fa-thumbs-o-up" ng-click="like($index)">  {{comment.likes}} 
                    <md-tooltip md-direction="top" md-delay=0>Like</md-tooltip>
                  </span>
                  <span class="fa fa-thumbs-o-down" ng-click="dislike($index)"> {{comment.dislikes}} 
                    <md-tooltip md-direction="top" md-delay=0>Dislike</md-tooltip>
                  </span>
                  <span flex></span>
                  <span class="fa fa-star"> {{comment.rating}} </span>
                  <span class="fa fa-user"> {{comment.author.username}} </span>
                </div>
                <md-divider></md-divider>
              </div>
            </div>
        </div>
    </div>
    <div ng-if="item.type == 'show' || item.type == 'season'" layout-padding flex="30">
        <div ng-if="item.type == 'show'">
            <div ng-repeat="season in item.seasons" layout="column">
                <div layout="row">
                    <div>{{season.name}}</div>
                    <md-button ng-click="expand($index)" layout-margin>
                        <span class="fa fa-chevron-down"></span>
                        <md-tooltip nf-if="expanded($index)" md-direction="top" md-delay=0>Expand</md-tooltip>
                    </md-button>
                    <md-button ng-click="shrink($index)" layout-margin>
                        <span class="fa fa-chevron-up"></span>
                        <md-tooltip nf-if="expanded($index)" md-direction="top" md-delay=0>Shrink</md-tooltip>
                    </md-button>
                </div>
                <div nf-if="expanded($index)" ng-repeat="episode in season.episodes" layout="row">
                    <span flex="10"></span>{{episode.name}}
                </div>
            </div>
        </div>
        <div ng-if="item.type == 'season'" layout="column">
            <div ng-repeat="episode in item.episodes">{{episode.name}}</div>
        </div>
    </div>
</div>