<div id='searchview' class='viewpart'>
  <div class='searchresults'>
    <h5>Search results for {{search.searchtext}}</h5>     
    <ul><li ng-repeat='result in search.results'>{{result}}<li><ul>
  </div>
</div>