<div id='videosettingsview' class='viewpart' layout-fill>
  <md-toolbar layout='row' layout-padding layout-align='center center' class='md-slim-toolbar'>
    <h4>Video Settings</h4>
    <span flex></span>
    <md-button ng-if="!settings.apps.settings.misc.autosync" ng-click='saveSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-save'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Save Settings</md-tooltip>
    </md-button>
    <md-button ng-click='getSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-refresh'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Refresh Settings</md-tooltip>
    </md-button>
  </md-toolbar>
  <md-content layout='column' layout-fill>
    <md-tabs md-selected="state.views.settings.video" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Display</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show in launcher</h4>
                <p layout-wrap>Make this app visible in the app launcher</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.video.display.showinlauncher" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider ng-if="!settings.apps.general.rememberstates"></md-divider>
            <div ng-if="!settings.apps.general.rememberstates" flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Start On</h4>
                <p layout-wrap>Choose on which page to start when you open the Video app. 
                Only works if you have disabled remembering of apps' previous state in general settings.</p>
              </div>
              <span flex></span>
              <md-select ng-model="settings.apps.video.display.startin" layout-align="end center"
                 class="md-primary" md-on-close="syncSettings()" aria-label="Start on which page?">
                <md-option ng-repeat="state in states.video" value="{{state.abbrev}}">
                  {{state.name}}
                </md-option>
              </md-select>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>In library start by viewing</h4>
                <p ng-if="settings.apps.video.display.starton =='movies'" layout-wrap>Show movies on entering library.</p>
                <p ng-if="settings.apps.video.display.starton =='shows'" layout-wrap>Show TV Shows on entering library.</p>
              </div>
              <span flex></span>
              <md-select ng-model="settings.apps.video.display.starton" layout-align="end center"
                 class="md-primary" md-on-close="syncSettings()" aria-label="Start in which view?">
                <md-option value="movies">Movies</md-option>
                <md-option value="shows">Shows</md-option>
              </md-select>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Always show filter bar</h4>
                <p layout-wrap>Whether the 'filters bar'' should always be displayed. By default it is only shown when doing a search.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.video.display.showfilterbar" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show quick actions</h4>
                <p layout-wrap>Toggle quick actions on movies in the library.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.video.display.quickactions" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show quick actions?">
              </md-switch>
            </div>
            <md-divider ng-if="!settings.general.universaltheme"></md-divider>
            <div ng-if="!settings.apps.general.universaltheme" flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Theme</h4>
                <p layout-wrap>Use this theme on this app.</p>
              </div>
              <span flex></span>
              <md-select class="md-primary" ng-model="settings.apps.video.display.theme" layout-align="end center"
                  ng-change="syncSettings()" aria-label="Select universal theme">
                <md-option ng-repeat="theme in themes" value="{{theme.shortname}}">{{theme.name}}</md-option>
              </md-select>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Play</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Auto full-screen</h4>
                <p layout-wrap>Automatically switch to full-screen mode when playing a movie.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.video.play.autofullscreen" layout-align="end center"
                ng-change="syncSettings()" aria-label="Auto full-screen?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Resume play position</h4>
                <p ng-if="settings.apps.video.play.resumeplaypos" layout-wrap>Resume last play position.</p>
                <p ng-if="!settings.apps.video.play.resumeplaypos" layout-wrap>Start playing from beginning.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.video.play.resumeplaypos" layout-align="end center"
                ng-change="syncSettings()" aria-label="Resume play position?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Subtitles</h4>
                <p ng-if="settings.apps.video.play.subtitles" layout-wrap>Display subtitles when playing and when available.</p>
                <p ng-if="!settings.apps.video.play.subtitles" layout-wrap>Don't display subtitles when playing.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.video.play.subtitles" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show quick actions?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show comments in play view</h4>
                <p layout-wrap>Show comments of currently playing video.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.video.play.showvideocomments" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show comments in play view?">
              </md-switch>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>      
    </md-tabs>
  </md-content>
</div>