<md-dialog md-theme="{{appTheme}}" layout='column'>  
 <md-toolbar layout-padding layout="row" layout-align="center center" class='md-slim-toolbar'>
  <span class='fa fa-info-circle'></span>
    <h4>Equalizer</h4>
    <span flex></span>
    <md-button ng-click="closeDialog()" class="md-icon-button" aria-label="Close dialog">
      <span class='fa fa-times'></span>
    </md-button>
 </md-toolbar>
 <div layout="row" layout-margin></div>
</md-dialog>