<md-toolbar class="no-select md-top-toolbar" layout="row" layout-nowrap layout-align="center center">
  <md-button class="md-icon-button" aria-label="Apps" ng-click="goTo('apps')">
    <span class="fa fa-th"></span>
    <md-tooltip md-direction="bottom" md-delay=10>Apps</md-tooltip>
  </md-button>
  <md-button ng-hide=gt_sm class="md-icon-button" aria-label="Show sidenav" ng-click="toggleSideNav()">
    <span ng-hide="sidenav" class="fa fa-chevron-right"></span>
    <span ng-show="sidenav" class="fa fa-chevron-left"></span>
    <md-tooltip md-direction="bottom" md-delay=10>Show sidenav</md-tooltip>
  </md-button>
  <div layout="row" layout-align="center center">
    <h4>Music</h4>
  </div>
  <span flex></span>
  <md-menu-bar layout="row" layout-align="center center">
    <md-button class="md-icon-button" aria-label="Search"
        ng-click="{'search':searchbar = !searchbar, 'filter': filterbar = false}">
      <span ng-if="!searchbar" class="fa fa-search"></span>
      <span ng-if="searchbar" class="fa-stack fa-fw">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
      </span>
      <md-tooltip md-direction="bottom" md-delay=10>Search</md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="Search" 
        ng-click="{'filter':filterbar = !filterbar, 'search': searchbar = false}"
        ng-show="isActiveState('music.library') || isActiveState('music.collection')">
      <span ng-if="!filterbar" class="fa fa-filter"></span>
      <span ng-if="filterbar" class="fa-stack fa-fw">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
      </span>
      <md-tooltip md-direction="bottom" md-delay=10>Filter</md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="Reload" ng-if="user.details.accounttype == 'admin'" 
        ng-show="isActiveState('music.library')" ng-click="reload()">
      <span class="fa fa-recycle" ng-class="{'fa-spin' : reloading}"></span>
      <md-tooltip md-direction="bottom" md-delay=10>Reload database</md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="Refresh" ng-if="user.details.accounttype == 'admin'" 
        ng-show="isActiveState('music.library')" ng-click="getMusic()">
      <span class="fa fa-refresh"></span>
      <md-tooltip md-direction="bottom" md-delay=10>Refresh</md-tooltip>
    </md-button>
    <md-menu>
      <button class="md-icon-button" aria-label="Notifications" 
          ng-click="{'open':$mdOpenMenu(),'get':getNotifications()}">
        <span class='fa fa-bell'>
          <span ng-show="notifications.unread.length">{{notifications.length}}</span>
        </span>
        <md-tooltip md-direction="bottom" md-delay=10>Notifications</md-tooltip>
      </button>
      <md-menu-content width='2'>
        <md-button ng-click="goTo('notifications')" layout-align='center center'>
          <span class='fa fa-th-list'>&nbsp;View All</span>
        </md-button>        
        <div class="overscroll-y" layout="column" layout-fill>
          <div class="popupnotification no-select" ng-repeat="notification in notifications" layout-margin>
            <div layout layout-fill layout-align="center center" layout-padding
                ng-class="{'read': notificationRead(notification), 'unread': !notificationRead(notification)}"
                ng-click="checkOut(notification)"
                ng-show="!notificationRead(notification)"
                md-swipe-right="toggleReadStatus(notification)"
                md-swipe-left="toggleReadStatus(notification)">
              <span class="fa" ng-class="{
                  'fa-lock':concernIs('security',notification),
                  'fa-users':concernIs('social',notification),
                  'fa-clip':concernIs('video',notification),
                  'fa-music':concernIs('music',notification),
                  'fa-cogs':concernIs('settings',notification)
                  }" layout-margin>
              </span>              
              <span class='message' layout layout-align="start center" layout-wrap flex>
                <span>{{notification.message | camelcase:[0]}}</span>                
              </span>                
              <span class="md-icon-button action fa fa-times"  layout-margin
                ng-click="toggleReadStatus(notification)">                
              </span> 
            </div>
          </div>
        </div>          
      </md-menu-content>
    </md-menu>
    <md-menu>
      <button class="md-icon-button" aria-label="User options" ng-click="$mdOpenMenu()">
        <span class="fa fa-user"></span>
        <md-tooltip md-direction="bottom" md-delay=10>User options</md-tooltip>
      </button>
      <md-menu-content width="2">
        <md-menu-item>
          <md-button ng-click="goTo('profile')" aria-label="My account" layout-align="start center" layout-fill>
            <span class="fa fa-user">&nbsp;My account</span>
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>            
          <md-button ng-click="lockSession()" aria-label="Lock Session" layout-align="start center" layout-fill>
            <span class="fa fa-lock">&nbsp;Lock Session</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>            
          <md-button ng-click="signOutOfDevice()" aria-label="Sign out" layout-align="start center" layout-fill>
            <span class="fa fa-sign-out">&nbsp;Sign Out</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-menu>
      <button ng-click="$mdOpenMenu()">
        <ng-md-icon icon="more_vert" style="fill: white" size="24"></ng-md-icon>
        <md-tooltip md-direction="bottom" md-delay=10>More</md-tooltip>
      </button> 
        <md-menu-content width="0.5">
          <md-menu-item>            
            <md-button ng-click="goTo('settings.music',true)" aria-label="Music Settings" layout-align="center center"
                layout-fill>
              <span class="fa fa-cog">&nbsp;Settings</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>            
            <md-button ng-click="popup({scope: $scope,event:$event,templateUrl: '/templates/music/about.html'})" aria-label="About this app" layout-align="center center"
                layout-fill>
              <span class="fa fa-info-circle">&nbsp;Info</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
</md-toolbar>
<div class="filterbar" ng-if="searchbar" layout-align="start center" layout="row">
    <label layout-margin>Search:
      <input type="text" ng-if="search.scheme != 'year'" autofocus ng-model="search.searchText">
      <input type="number" ng-if="search.scheme == 'year'"  autofocus min=1900 max={{maxYear}}
         ng-model="search.searchText">
    </label>
    <md-select ng-model="search.scheme" layout-margin placeholder="Search by">
      <md-option value="title">Title</md-option>
      <md-option value="artists">Artist</md-option>
      <md-option value="album">Album</md-option>
      <md-option value="genre">Genre</md-option>
      <md-option value="year">Year</md-option>
      <md-option value="studio">Studio</md-option>
    </md-select>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="orderBy='asc'" aria-label="Sort ascending" layout-align="center center">
      <span ng-class="{'fa fa-sort-numeric-asc': search.scheme == 'year', 'fa fa-sort-alpha-asc': search.scheme != 'year'}">
        <md-tooltip md-direction="bottom" md-delay=10>Order by {{search.scheme}} ascending</md-tooltip>  
      </span>
    </md-button>
    <md-button class="md-icon-button" ng-click="orderBy='desc'" aria-label="Sort descending" layout-align="center center">
      <span ng-class="{'fa fa-sort-numeric-desc': search.scheme == 'year', 'fa fa-sort-alpha-desc': search.scheme != 'year'}">
      <md-tooltip md-direction="bottom" md-delay=10>Order by {{search.scheme}} descending</md-tooltip>  
      </span>
    </md-button>
    <span class="fa fa-info-circle" layout-padding layout-margin></span>
</div>
<md-content layout='row' layout-fill flex>
  <md-sidenav md-component-id="nav" md-is-locked-open=gt_sm flex=15>
      <md-toolbar id="leftbar" class="md-primary md-hue-1" layout="column" flex>
        <div id='viewports' layout="column" flex=50>
          <div id='nowplaying' layout-align="center center">
            <h5 ng-click="switchTo(0)">Home</h5>
            <h5 ng-click="switchTo(1)">Now Playing</h5>
            <h5 ng-click="switchTo(2)">Library</h5>
            <h5 ng-click="switchTo(3)">Collection</h5>
          </div>
          <div id='playlists' layout-align="center center"></div>
          <div id='artists' layout-align="center center"></div>
          <div id='albums' layout-align="center center"></div>
          <div id='genres' layout-align="center center"></div>
          <div id='moods' layout-align="center center"></div>
          <div id='years' layout-align="center center"></div>      
        </div>
        <div id='info' flex=50>
          <div layout="column">
            <div id="selector" flex=10>
              <div id="imageselector"></div>
              <div id="lyricselector"></div>
            </div>
            <div layout flex=90>
              <div id='imagery'></div>
              <div id='lyrics'></div>
            </div>
          </div>
        </div>
      </md-toolbar>
  </md-sidenav>
  <ui-view id='actualviews' md-swipe-right="toggleSideNav()" class="md-primary md-hue-2" flex></ui-view>
</md-content>
<md-toolbar class="md-primary md-hue-1" layout layout-align="center center" flex=10>  
  <div id='playercontrols' layout layout-align="center center" flex=15>
    <span class="md-icon-button" id='previous'>
      <span class="fa fa-previous"></span>
      <md-tooltip delay=100 md-direction="top">Previous</md-tooltip>
    </span>
    <span class="md-icon-button" id='play'>
      <span ng-hide="playing" class="fa fa-play fa-2x" ng-class="{'fa-2x': gt_sm}"></span>
      <span ng-show="playing" class="fa fa-pause fa-2x" ng-class="{'fa-2x': gt_sm}"></span>
      <md-tooltip ng-hide="playing" delay=100 md-direction="top">Play</md-tooltip>
      <md-tooltip ng-show="playing" delay=100 md-direction="top">Pause</md-tooltip>      
    </span>
    <span class="md-icon-button" id='next'>
      <span class="fa fa-next"></span>
      <md-tooltip delay=100 md-direction="top">Next Track</md-tooltip>
    </span>
  </div>
  <div ng-show=gt_sm layout layout-align="end center" id='timecounter' flex=5>
    <h5 ng-click="changeStamp()">{{timestamp}}</h5>
  </div>
  <md-slider md-discrete ng-model="playpos" step="1" max="100" min="0" style="width: 100%;"
    aria-label="Play position slider" flex>
  </md-slider>
  <div ng-show=gt_sm id='playmode' layout layout-align="center center" flex=10>
    <md-button id="shuffle" class="md-icon-button" aria-label="Shuffle" ng-click="shuffle()">
      <span class="fa fa-shuffle"></span>
      <md-tooltip delay=100 md-direction="top">Shuffle</md-tooltip>
    </md-button>
    <md-button id="repeat" class="md-icon-button" aria-label="Repeat" ng-click="repeat()">
      <span class="fa fa-repeat"></span>
      <md-tooltip delay=100 md-direction="top">Repeat</md-tooltip>
    </md-button>     
  </div>      
  <div ng-show=gt_sm flex=5>
    <md-button class="md-icon-button" id='equalizer'>
      <span class="fa fa-bar-chart"></span>
      <md-tooltip delay=100 md-direction="top">Equalizer</md-tooltip>
    </md-button>
  </div>        
  <div ng-show=gt_sm id='volumecontrols' layout layout-align="center center" flex=15>
    <md-button id="mute" class="md-icon-button" aria-label="Mute" ng-click="mute()">
      <span class="fa fa-mute"></span>
    </md-button>
    <md-slider md-discrete ng-model="volume" step="1" max="100" min="0" style="width: 100%;"
      aria-label="Volume" flex>
    </md-slider>
  </div>
  <md-button ng-hide=gt_sm class="md-icon-button" aria-label="More tasks" 
      ng-click="showTasks($event)">
    <ng-md-icon icon="more_vert" style="fill: white" size="24"></ng-md-icon>
  </md-button>
</md-toolbar>