<div id='musicsettingsview' class='viewpart' layout-fill>
  <md-toolbar layout='row' layout-padding layout-align='center center' class='md-slim-toolbar'>
    <h4>Music Settings</h4>
    <span flex></span>
    <md-button ng-if="!settings.apps.settings.misc.autosync" ng-click='saveSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-save'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Save Settings</md-tooltip>
    </md-button>
    <md-button ng-click='getSettings()' class='md-icon-button' aria-label='Refresh settings'>
      <span class='fa fa-refresh'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Refresh Settings</md-tooltip>
    </md-button>
  </md-toolbar>
  <md-content layout='column' layout-fill>
    <md-tabs md-selected="state.views.settings.music" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Display</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show in launcher</h4>
                <p layout-wrap>Make this app visible in the app launcher</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.music.display.showinlauncher" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider ng-if="!settings.apps.general.rememberstates"></md-divider>
            <div ng-if="!settings.apps.general.rememberstates" flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Start On</h4>
                <p layout-wrap>Choose on which page to start when you open the Music app. 
                Only works if you have disabled remembering of apps' previous state in general settings.</p>
              </div>
              <span flex=5></span>
              <md-select ng-model="settings.apps.music.display.startin" layout-align="end center"
                 class="md-primary" md-on-close="syncSettings()" aria-label="Start on which page?">
                <md-option ng-repeat="state in states.music" value="{{state.abbrev}}">
                  {{state.name}}
                </md-option>
              </md-select>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Always show filter bar</h4>
                <p layout-wrap>Whether the 'filters bar'' should always be displayed in the library. By default it is only shown when doing a search.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.music.display.showfilterbar" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show quick actions</h4>
                <p layout-wrap>Toggle quick actions on song and collections in the library.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.music.display.quickactions" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show quick actions?">
              </md-switch>
            </div>
            <md-divider ng-if="!settings.apps.general.universaltheme"></md-divider>
            <div ng-if="!settings.apps.general.universaltheme" flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Theme</h4>
                <p layout-wrap>Use this theme on this app.</p>
              </div>
              <span flex></span>
              <md-select class="md-primary" ng-model="settings.apps.music.display.theme" layout-align="end center"
                  ng-change="syncSettings()" aria-label="Select universal theme">
                <md-option ng-repeat="theme in themes" value="{{theme.shortname}}">{{theme.name}}</md-option>
              </md-select>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Play</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Resume play</h4>
                <p ng-show="settings.apps.music.play.resumeplay" layout-wrap>Auto resume playing previous song when you open Music app.</p>
                <p ng-hide="settings.apps.music.play.resumeplay" layout-wrap>Do NOT resume playing music when you open Music app.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.music.play.resumeplay" layout-align="end center"
                  ng-change="syncSettings()" aria-label="Auto-resume playing music">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Continue playback</h4>
                <p ng-show="settings.apps.music.play.continueplayback" layout-wrap>Continue playing music even after leaving the Music app.</p>
                <p ng-hide="settings.apps.music.play.continueplayback" layout-wrap>Pause music playback after leaving the Music app.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.music.play.continueplayback" layout-align="end center"
                  ng-change="syncSettings()" aria-label="Auto-resume playing music">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Quick restart</h4>
                <p ng-show="settings.apps.music.play.quickrestart" layout-wrap>Click on 'Previous' once to restart song.</p>
                <p ng-hide="settings.apps.music.play.quickrestart" layout-wrap>Click on 'Previous' once to go to previous song.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.music.play.quickrestart" layout-align="end center"
                  ng-change="syncSettings()" aria-label="Auto-resume playing music">
              </md-switch>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>      
    </md-tabs>
  </md-content>
</div>