<md-bottom-sheet class="md-list">
  <div layout layout-align="center center">
    <md-button class="md-icon-button" id='shuffle' aria-label="Shuffle" ng-click="shuffle()">
      <span class="fa fa-arrows"></span>      
    </md-button>
    <md-button id="repeat" class="md-icon-button" aria-label="Repeat" ng-click="repeat()">
      <span class="fa fa-repeat"></span>
    </md-button>
    <md-button class="md-icon-button" id='equalizer' aria-label="Equalizer"
        ng-click="popup({event: $event, templateUrl: '/templates/music/equalizer.html'})">
      <span class="fa fa-bar-chart"></span>      
    </md-button>
    <md-button id="mute" class="md-icon-button" aria-label="Mute" ng-click="mute()">
      <span class="fa fa-speaker"></span>
    </md-button>
  </div>
  <md-divider></md-divider>
  <div id='volumecontrols' layout layout-align="center center" flex>
    <md-slider md-discrete ng-model="volume" step="1" max="100" min="0" style="width: 100%;"
      aria-label="Volume" flex>
    </md-slider>
  </div>
</md-bottom-sheet>