<md-dialog>
  <md-toolbar class="md-top-toolbar md-slim-toolbar" layout='row' layout-padding layout-align="start center">
    <h4>Pay Via</h4>
    <span flex></span>
    <md-button class="md-icon-button" aria-label='Cancel' ng-click='closeDialog()'>
      <span class='fa fa-close'></span>        
    </md-button>
  </md-toolbar>
  <md-dialog-actions layout='row' layout-align='center center'>
    <div layout layout-align='center center' class='overflowscroll-y'>
      <md-button class="md-raised" aria-label='M-pesa' layout-margin ng-click="use(event,'mpesa')">
        <img layout-fill src="/images/mpesa.png" alt="M-pesa - Relax, Uko na M-pesa!">
      </md-button>
      <md-button class="md-raised" aria-label='Airtel Money' layout-margin ng-click="use(event,'airtelmoney')">
        <img layout-fill src="/images/ampm.png" alt="Airtel Money - Pesa Mkononi!">
      </md-button>
      <md-button class="md-raised" aria-label='Equitel' layout-margin ng-click="use(event,'equitel')">
        <img layout-fill src="/images/equitel.png" alt="Equitel - My money, My phone, My life!">
      </md-button>
      <md-button class="md-raised" aria-label='Mobikash' style='background: #EF2322' layout-margin ng-click="use(event,'mobikash')">
        <img layout-fill src="/images/mobikash.png" alt="Mobikash - ">
      </md-button>
      <md-button class="md-raised" aria-label='Paypal' layout-margin ng-click="use(event,'paypal')">
        <img layout-fill src="/images/paypal.png" alt="PayPal - The safer, easier way to pay online!">
      </md-button>      
    </div>    
  </md-dialog-actions>
</md-dialog>