<md-dialog aria-label="Confirm action" layout='column'>
  <md-toolbar ng-if="action == 'deleteAccount'" style='background-color:red;color:white;'
      layout layout-padding layout-align="center center" class="md-slim-toolbar">
    <h4>Account deletion</h4>
    <span flex></span>
    <span class="fa fa-times" ng-click="closeDialog(true)"></span>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content"  layout='column' layout-align="center center">
    <h3 ng-if="action == 'subscribe'" aria-label='Subscribe to {{subscription}} package?'>
      Subscribe to 
      <span ng-class="{'success': subscription.type == 'premium','sky': subscription.type == 'basic',
          'warning': subscription.type == 'free' }">
        {{subscription.type}}
      </span>
      package?</h3>
    <div ng-if="action == 'subscribe'" class='md-dialog-content-body'>
      <p>This will cost you {{subscription.price}} credits monthly.</p>
    </div>
    <div ng-if="action == 'deleteAccount'" class='md-dialog-content-body'>
      <h4>We regret seeing you leave.</h4>
      <p>Deleting your account you will:</p>
      <ul>
        <li>Lose all items in your collection,</li>
        <li>Lose all your credits,</li>
        <li>Lose any progess you have achieved.</li>
      </ul>
      <h4>Are you sure about this?</h4>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout='row'>    
    <md-button class="md-raised" aria-label='No' ng-click='closeDialog()'
      ng-class="{'success': action == 'deleteAccount', 'danger' : action != 'deleteAccount'}">No</md-button>
    <span flex></span>
    <md-button class="md-raised" aria-label='Yes' ng-click="execute(action)"
      ng-class="{'danger': action == 'deleteAccount', 'success' : action != 'deleteAccount'}">Yes</md-button>
  </md-dialog-actions>
</md-dialog>