<md-content id='detailsview' class="viewpart no-drag" layout-fill layout-margin layout='column'>
            <div ng-hide='editing' layout="column" layout-fill>
              <div layout-margin><b>Name:</b> {{user.details.title}} {{user.details.firstname}} {{user.details.middlename}} {{user.details.lastname}}</div>          
              <div layout-margin><b>Email address:</b> {{user.email}}</div>
              <div layout-margin><b>Username:</b> {{user.username}}</div>                        
              <div layout-margin><b>Phone number:</b> {{user.phone}}</div>
              <div layout-margin><b>Address:</b> {{user.details.address}}</div>
              <div layout-margin><b>About:</b> {{user.details.about}}</div>
              <div layout layout-margin layout-align="start center">
                <b>Subscription:</b> {{user.finance.subscription | filter: uppercase}}
                <md-button ng-if="user.finance.subscription != 'premium'" class="md-raised md-primary" aria-label="upgrage"
                  ng-click="upgrade($event)">
                  UPGRADE
                </md-button>
              </div>
              
              <div layout layout-margin layout-align="end end">
                <md-button class="md-fab md-warn" ng-click="confirm({event: $event,action: 'deleteAccount'})" aria-label="Delete Account">
                  <span class="fa fa-user-times"></span>
                  <md-tooltip md-direction="top" delay=10 aria-label="Delete account">Delete Account</md-tooltip>
                </md-button>
              </div>
            </div>    
            <form ng-show='editing' id='detailsForm' name='detailsForm' ng-submit='update()'>
              <div layout-gt-sm="row">
                <md-input-container class="md-block">
                  <label for="title">Title</label>
                  <md-select required id='title' name='title' ng-model="User.details.title" aria-label="Title">
                    <md-option ng-repeat="title in titles" value="{{title.abbrev}}" aria-label="{{title.abbrev}}">
                      {{title.abbrev}}
                    </md-option>
                  </md-select>
                  <div ng-messages="detailsForm.title.$error" role="alert">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm='33'>
                  <label for="firstname">First name</label>
                  <input required id="firstname" name='firstname' ng-model="User.details.firstname"
                    type="text" aria-label="First name">
                  <div ng-messages="detailsForm.firstname.$error" role="alert">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm='33'>
                  <label for="middlename">Middle name</label>
                  <input required id="middlename" name='middlename' ng-model="User.details.middlename"
                    type="text" aria-label="Middle name">
                  <div ng-messages="detailsForm.middlename.$error" role="alert">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm='33'>
                  <lbel for="lastname">Last name</label>
                  <input required id="lastname" name='lastname' ng-model="User.details.lastname"
                    type="text" aria-label="Last name">
                  <div ng-messages="detailsForm.lastname.$error" role="alert">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>            
              </div>
              <md-input-container class="md-block">
                <label for="username"><span class='fa fa-user'> Username</span></label>
                <input md-minlength="3" md-maxlength="15" required id="username" name='username' ng-model="User.username"
                  type="text" aria-label="Username"> 
                <div class="hint" ng-show="showHints">This is your screen name</div>
                <div ng-messages="detailsForm.username.$error" role="alert">
                  <div ng-message="required">Please specify username.</div>
                  <div ng-message="md-minlength">A username must be at least 3 characters long.</div>
                  <div ng-message="md-maxlength">The username has to be less than 15 characters long.</div>
                </div>
              </md-input-container>          
              <md-input-container class="md-block">
                <label for="email"><span class='fa fa-envelope'> Email</span></label>
                <input id="email" name='email' ng-model="User.email" type="email" aria-label="Email">
                     required minlength="7" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                <div class="hint" ng-show="showHints">How can we reach you?</div>        
                <div ng-messages="detailsForm.email.$error"  role="alert">
                    <div ng-message="required">Please specify an email address.</div>
                    <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
                      This doesn't look like a valid e-mail address.
                    </div>
                </div>          
              </md-input-container>
              <md-input-container class="md-block">
                <label for="phone"><span class='fa fa-phone'> Phone Number</span></label>
                <input id="phone" name='phone' required ng-model="User.phone" ng-pattern="/^([0-9]{3})[0-9]{3}[0-9]{6}$/" />
                <div class="hint" ng-show="showHints">###-###-######</div>
                <div ng-messages="detailsForm.phone.$error"  role="alert">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label for="address"><span class='fa fa-map-marker'> Address</span></label>
                <input id='address' name='address' required ng-model="User.details.address">
                <div ng-messages="detailsForm.address.$error" role="alert">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label for="about"><span class='fa fa-info-circle'> About me</span></label>
                <textarea id='about' name='about' required ng-model="User.details.about" columns="1" md-maxlength="150" rows="2"></textarea>
                <div ng-messages="detailsForm.about.$error" role="alert">
                  <div ng-message="required">Tell us something about yourself.</div>
                </div>
      </md-input-container>            
    </form>  
</md-content>