<md-content id='devicesview' class="viewpart no-drag" layout-fill layout-margin layout='column'>
      <md-tabs  md-selected="state.views.profile.devices" md-autoselect md-swipe-content md-dynamic-height md-border-bottom md-stretch-tabs='always'>
        <md-tab>
          <md-tab-label>
            ACTIVE
          </md-tab-label>
          <md-tab-body>
            <md-content class="md-padding" layout="column">
              <div ng-repeat="device in user.devices.signedInOn" class="signin-form-devices alert alert-success">
                  <ul ng-hide='device.message || Device.id == device._id'>
                  <md-button type="button" ng-click='signOutOf($index)' class="md-icon-button close"  
                            aria-label="Sign Out">
                    <span class='fa fa-sign-out'></span>
                    <md-tooltip md-delay=10>Sign out this device</md-tooltip>
                  </md-button>        
                  <li>            Type: {{device.type}}</li>
                  <li>            Name: {{device.name}}</li>
                  <li>          System: {{device.os}}&nbsp;{{device.machine}}
                  <li>Sign In Location: {{device.location}}</li>                      
                  <li>       Device ID: {{device._id}}</li>
                </ul>
                <p class='text-center' ng-if="Device.id == device._id">This device</p>
                <p ng-show='device.message' class='text-center'>{{device.message.message}} 
                  <button type="button" class="close" ng-click='clearSignedOutDevice($index, 0)'  aria-label="Clear device">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </p>
              </div>
            </md-content>
          </md-tab-body>
        </md-tab>
      <md-tab>
      <md-tab-label>
        INACTIVE
      </md-tab-label>
      <md-tab-body>
        <md-content class="md-padding" layout="column">
          <div ng-repeat="device in user.devices.signedOutOf" class="signin-form-devices alert                alert-warning">
            <ul>
              <li>         Device: {{device._id}}</li>
              <li>    Description: {{device.description}}</li>
            </ul>
            <p class='text-center' ng-if="Device.id==device._id">This device</p>
          </div>
        </md-content>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>