<md-content id='financesview' class="viewpart no-drag" layout-fill layout-margin layout='column'>
  <div layout-padding flex layout="column">
    <div layout='row' layout-align="start end">
      <span layout='row' layout-align="start end">
        <h4>Balance:</h4> 
        <h2 style='color: green;'>{{user.finance.credits}}</h2>
        <h4> Credits</h4> 
      </span>
      <span flex></span>              
      <md-button class="md-icon-button" aria-label="Share credit" ng-click="shareCredit($event)">
        <span style='color: blue;' class='fa fa-share'></span>
        <md-tooltip md-direction="bottom" md-delay=10>Share credit</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Add credit" ng-click="use($event)">
        <span style='color: green;' class='fa fa-plus-circle'></span>
        <md-tooltip md-direction="bottom" md-delay=10>Add credit</md-tooltip>
      </md-button>
    </div>  
    <div layout='row' layout-align="start end">
      <h5 style='font-size: 20px;text-decoration: underline;'>Transactions</h5>              
      <span flex></span>              
      <div layout="row">
        <md-button class="md-icon-button" aria-label="Sort Ascending" ng-click="sort('asc')">
          <span class='fa fa-sort-numeric-asc'></span>
          <md-tooltip md-direction="bottom" md-delay=10>Sort by date (ascending)</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="Sort descending" ng-click="sort('desc')">
          <span class='fa fa-sort-numeric-desc'></span>
          <md-tooltip md-direction="bottom" md-delay=10>Sort by date (descending)</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="Sort Ascending" ng-click="sort('asc')">
          <span class='fa fa-sort-amount-asc'></span>
          <md-tooltip md-direction="bottom" md-delay=10>Sort by amount (ascending)</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="Sort descending" ng-click="sort('desc')">
          <span class='fa fa-sort-amount-desc'></span>
          <md-tooltip md-direction="bottom" md-delay=10>Sort by amount (descending)</md-tooltip>
        </md-button>
      </div>
    </div>
    <div ng-repeat="transaction in user.finance.transactions" class="signin-form-devices alert alert-success">
      <ul>
        <li>{{transaction.name}}</li>
        <li>Amount: {{transaction.amount}} Credits</li>
        <li>Date: {{transaction.transactionDate | filter: date}}</li>
        <li ng-if='transaction.code'>code: {{transaction.code}}</li>        
        <li>Description: {{transaction.description}}</li>
      </ul>
    </div>
  </div>
</md-content>