<md-dialog>
  <md-toolbar class="md-menu-toolbar md-slim-toolbar" layout='row' layout-align='center center' layout-padding
       style="background-color:#6BAB1F;color:white;">
    <h4>M-PESA</h4>
    <span flex></span>
    <md-button class="md-icon-button"  aria-label='Cancel' ng-click='closeDialog()'>
        <span style="color:white;" class='fa fa-close'></span>        
    </md-button>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content" layout='row'>
    <div layout-align="start end">
      <p>Please send money via M-Pesa paybill number: XXXXXX and then enter the transcation code here</p>
    </div>    
  </md-dialog-content>
  <md-dialog-actions layout='row'>
    <form id='codeForm' name='codeForm' ng-submit="sendTransCode('mpesa')" layout="row" flex>
      <md-input-container class="md-block" flex>
        <label for="code">Transaction Code</label>
        <input type="text" required id="code" name='code' ng-model="User.finance.code.code">
        <div ng-messages="codeForm.code.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-button type="submit" style="background-color:#6BAB1F;" aria-label='Send'>
        <span style="color:white;">Send</span>
      </md-button>
    </form>    
  </md-dialog-actions>
</md-dialog>