<md-dialog>
  <md-toolbar class="md-menu-toolbar md-slim-toolbar" layout='row' layout-align='center center' layout-padding
       style="background-color:#009CDE;color:white;">
    <h4>Paypal</h4>
    <span flex></span>
    <md-button class="md-icon-button"  aria-label='Cancel' ng-click='closeDialog()'>
        <span style="color:white;" class='fa fa-close'></span>        
    </md-button>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content" layout='column' layout-align="center center">
    <div layout-align="start end">
      <h5>Please sign in and then make a payment.</h5>
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="NG7RNU94APAHG">
      <md-button type="submit" class="md-raised" aria-label='Airtel Money'>
        <img src="/images/paypal.png" alt="PayPal - The safer, easier way to pay online!">
      </md-button>
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </md-dialog-content>  
</md-dialog>