<md-toolbar class="md-top-toolbar" layout='row' layout-align='center center'>
    <md-button class="md-icon-button" aria-label="User options" ng-click="goTo('apps')">
        <span class='fa fa-th'></span>
        <md-tooltip md-direction="bottom" md-delay=10>Apps</md-tooltip>
    </md-button>
    <div layout-align='center center' flex><h4>Profile</h4></div>
    <md-button class="md-icon-button" aria-label="Cancel editing" ng-if="selectedIndex==0 && editing" ng-click="edit()">
      <span class='fa fa-close'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Cancel editing</md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="Edit details" ng-if="selectedIndex==0 && !editing" ng-click="edit()">
      <span class='fa fa-pencil'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Edit details</md-tooltip>
    </md-button>
    <md-menu-bar layout='row' layout-align='center center'>
      <md-menu>
        <button class="md-icon-button" aria-label="Notifications" 
          ng-click="{'open':$mdOpenMenu(),'get':getNotifications()}">
        <span class='fa fa-bell'>
          <span ng-show="notifications.unread.length">{{notifications.length}}</span>
        </span>
        <md-tooltip md-direction="bottom" md-delay=10>Notifications</md-tooltip>
      </button>
      <md-menu-content width='2'>
        <md-button ng-click="goTo('notifications')" layout-align='center center'>
          <span class='fa fa-th-list'>&nbsp;View All</span>
        </md-button>        
        <div class="overscroll-y" layout="column" layout-fill>
          <div class="popupnotification no-select" ng-repeat="notification in notifications" layout-margin>
            <div layout layout-fill layout-align="center center" layout-padding
                ng-class="{'read': notificationRead(notification), 'unread': !notificationRead(notification)}"
                ng-click="checkOut(notification)"
                ng-show="!notificationRead(notification)"
                md-swipe-right="toggleReadStatus(notification)"
                md-swipe-left="toggleReadStatus(notification)">
              <span class="fa" ng-class="{
                  'fa-lock':concernIs('security',notification),
                  'fa-users':concernIs('social',notification),
                  'fa-clip':concernIs('video',notification),
                  'fa-music':concernIs('music',notification),
                  'fa-cogs':concernIs('settings',notification)
                  }" layout-margin>
              </span>              
              <span class='message' layout layout-align="start center" layout-wrap flex>
                <span>{{notification.message | camelcase:[0]}}</span>                
              </span>                
              <span class="md-icon-button action fa fa-times"  layout-margin
                ng-click="toggleReadStatus(notification)">                
              </span> 
            </div>
          </div>
        </div>          
      </md-menu-content>
      </md-menu>
      <md-menu>
        <button class="md-icon-button" aria-label="User options" ng-click="$mdOpenMenu()">
          <span class='fa fa-user'></span>
          <md-tooltip md-direction="bottom" md-delay=10>User options</md-tooltip>
        </button>
        <md-menu-content width='2'>
          <md-menu-item>
            <md-button ng-click="goTo('settings')" aria-label='General Settings' layout-align='center center'>
              <span class='fa fa-cogs'>&nbsp;Settings</span>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>            
            <md-button ng-click="lockSession()" aria-label="Lock Session" layout-align="start center" layout-fill>
              <span class="fa fa-lock">&nbsp;Lock Session</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>            
            <md-button ng-click="signOutOfDevice()" aria-label='Sign out' layout-align='center center'>
              <span class='fa fa-sign-out'>&nbsp;Sign Out</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          <ng-md-icon icon="more_vert" style="fill: white" size="24"></ng-md-icon>
          <md-tooltip md-direction="bottom" md-delay=10>More</md-tooltip>
        </button> 
        <md-menu-content width="0.5">
          <md-menu-item>            
            <md-button ng-click="goTo('settings.profile',true)" aria-label="Profile Settings" layout-align="center center">
              <span class="fa fa-cog">&nbsp;Profile Settings</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>            
            <md-button ng-click="popup({scope: $scope,event: $event,templateUrl: '/templates/profile/about.html'})" aria-label="About this app" layout-align="center center"
                layout-fill>
              <span class="fa fa-info-circle">&nbsp;Info</span>
            </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    </md-menu-bar>
</md-toolbar>
<md-content layout='column' layout-fill>
  <md-tabs md-selected="selectedIndex" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
    <md-tab id="detailsTab">DETAILS</md-tab> 
    <md-tab id="socialTab">SOCIAL</md-tab>
    <md-tab id="devicesTab">DEVICES</md-tab>
    <md-tab id="financeTab">FINANCE</md-tab>  
  </md-tabs>
  <ui-view layout layout-fill flex md-swipe-right="switchTo({{selectedIndex -1}})" 
    md-swipe-left="switchTo({{selectedIndex+1}})" class="overflowscroll-y">
  </ui-view>
</md-content>