<div id='profilesettingsview' class='viewpart' layout-fill>
  <md-toolbar layout='row' layout-padding layout-align='center center' class='md-slim-toolbar'>
    <h4>Profile Settings</h4>
    <span flex></span>
    <md-button ng-if="!settings.apps.settings.misc.autosync" ng-click='saveSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-save'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Save Settings</md-tooltip>
    </md-button>
    <md-button ng-click='getSettings()' class='md-icon-button' aria-label='Refresh settings'>
      <span class='fa fa-refresh'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Refresh Settings</md-tooltip>
    </md-button>
  </md-toolbar>
  <md-content layout='column' layout-fill>
    <md-tabs md-selected="state.views.settings.profile" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Display</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show in launcher</h4>
                <p layout-wrap>Make this app visible in the app launcher</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.profile.display.showinlauncher" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show nav bar?">
              </md-switch>
            </div>
            <md-divider ng-if="!settings.apps.general.rememberstates"></md-divider>
            <div ng-if="!settings.apps.general.rememberstates" flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Start On</h4>
                <p layout-wrap>Choose on which page to start when you open the profile app. 
                Only works if you have disabled remembering of apps' previous state in general settings.</p>
              <span flex></span>
              <md-select ng-model="settings.apps.profile.display.startin" layout-align="end center"
                 class="md-primary" md-on-close="syncSettings()" aria-label="Start on which page?">
                <md-option ng-repeat="state in states.profile" value="{{state.abbrev}}">
                  {{state.name}}
                </md-option>
              </md-select>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>            
    </md-tabs>
  </md-content>
</div>