<md-dialog>
  <md-toolbar class="md-menu-toolbar md-slim-toolbar" layout='row' layout-align='center center' layout-padding
       style="background-color:white;color:blue;">
    <h4>Share credit</h4>
    <span flex></span>
    <md-button class="md-icon-button"  aria-label='Cancel' ng-click='closeDialog()'>
        <span style="color:blue;" class='fa fa-close'></span>        
    </md-button>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content" layout='column'>
    <div layout-align="start end">
      <p>Enter amount to share</p>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout='row'>
    <form id='shareForm' name='shareForm' ng-submit="shareCredit($event,null,amount)" flex>
      <md-input-container class="md-block">
        <label for="amount">Amount</label>
        <input type="number" required id="amount" name='amount' ng-model="amount">
        <div ng-messages="shareForm.amount.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>              
      <md-button type="submit" class="md-primary md-raised" aria-label='Share'>
        <span>Share</span>        
      </md-button>
    </form>    
  </md-dialog-actions>
</md-dialog>