<md-content id='socialview' class="viewpart no-drag" layout-fill layout-margin layout='column'>
   <md-tabs md-selected="state.views.profile.social" md-autoselect 
          md-dynamic-height md-border-bottom>
        <md-tab>
          <md-tab-label>
            <span>FRIENDS&nbsp;{{user.social.friends.length}}</span>
          </md-tab-label>
          <md-tab-body>
            <md-content layout="column" layout-padding>
              <md-grid-list md-cols="5" md-cols-sm="16" md-cols-md="24" md-cols-gt-md="30" md-cols-gt-lg="36"
                  md-row-height-xs="2:1" md-row-height-sm="5:3" md-row-height-md="5:3" md-row-height-gt-md="4:3"
                  md-gutter="4px" md-gutter-sm="6px" md-gutter-md="8px" >
                <md-grid-tile ng-repeat="friend in user.social.friends" md-rowspan="2" md-colspan="4"
                    ng-click="showUser($event,friend.accounts.local.username)"
                    style='border: 1px solid rgba(70, 164, 181, 0.27); border-radius: 5px;'>
                  <md-content class='no-drag' layout-fill layout>
                    <div layout-fill>{{friend.accounts.local.username | camelcase:[0]}}</div>
                  </md-content>
                </md-grid-tile>
              </md-grid-list>
            </md-content>
          </md-tab-body>
        </md-tab>            
        <md-tab>
          <md-tab-label>
            <span>FOLLOWING&nbsp;{{user.social.following.length}}</span>
          </md-tab-label>
          <md-tab-body>
            <md-content layout="column" layout-padding>
              <md-grid-list md-cols="5" md-cols-sm="16" md-cols-md="24" md-cols-gt-md="30" md-cols-gt-lg="36"
                  md-row-height-xs="2:1" md-row-height-sm="5:3" md-row-height-md="5:3" md-row-height-gt-md="4:3"
                  md-gutter="4px" md-gutter-sm="6px" md-gutter-md="8px" >
                <md-grid-tile ng-repeat="followed in user.social.following" md-rowspan="2" md-colspan="4"
                    ng-click="showUser($event,followed.accounts.local.username)"
                    style='border: 1px solid rgba(70, 164, 181, 0.27); border-radius: 5px;'>
                  <md-content class='no-drag' layout-fill layout>
                    <div layout-fill>{{followed.accounts.local.username | camelcase:[0]}}</div>
                  </md-content>
                </md-grid-tile>
              </md-grid-list>
            </md-content>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <span>FOLLOWERS&nbsp;{{user.social.followers.length}}</span>
          </md-tab-label>
          <md-tab-body>
            <md-content layout="column" layout-padding>
              <md-grid-list md-cols="5" md-cols-sm="16" md-cols-md="24" md-cols-gt-md="30" md-cols-gt-lg="36"
                  md-row-height-xs="2:1" md-row-height-sm="5:3" md-row-height-md="5:3" md-row-height-gt-md="4:3"
                  md-gutter="4px" md-gutter-sm="6px" md-gutter-md="8px" >
                <md-grid-tile ng-repeat="follower in user.social.followers" md-rowspan="2" md-colspan="4"
                    ng-click="showUser($event,follower.accounts.local.username)"
                    style='border: 1px solid rgba(70, 164, 181, 0.27); border-radius: 5px;'>
                  <md-content class='no-drag' layout-fill layout>
                    <div layout-fill>{{follower.accounts.local.username | camelcase:[0]}}</div>
                  </md-content>
                </md-grid-tile>
              </md-grid-list>
            </md-content>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <span>REQUESTS&nbsp;{{user.social.requests.length}}</span>
          </md-tab-label>
          <md-tab-body>
            <md-content layout="column" layout-padding>
              <md-grid-list md-cols="5" md-cols-sm="16" md-cols-md="24" md-cols-gt-md="30" md-cols-gt-lg="36"
                  md-row-height-xs="2:1" md-row-height-sm="5:3" md-row-height-md="5:3" md-row-height-gt-md="4:3"
                  md-gutter="4px" md-gutter-sm="6px" md-gutter-md="8px" >
                <md-grid-tile ng-repeat="requester in user.social.requests" md-rowspan="2" md-colspan="4"
                    ng-click="showUser($event,requester.accounts.local.username)"
                    style='border: 1px solid rgba(70, 164, 181, 0.27); border-radius: 5px;'>
                  <md-content class='no-drag' layout-fill layout>
                    <div layout-fill>{{requester.accounts.local.username | camelcase:[0]}}</div>
                  </md-content>
                </md-grid-tile>
              </md-grid-list>
            </md-content>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <span>REQUESTED&nbsp;{{user.social.requested.length}}</span>
          </md-tab-label>
          <md-tab-body>
            <md-content layout="column" layout-padding>
              <md-grid-list md-cols="5" md-cols-sm="16" md-cols-md="24" md-cols-gt-md="30" md-cols-gt-lg="36"
                  md-row-height-xs="2:1" md-row-height-sm="5:3" md-row-height-md="5:3" md-row-height-gt-md="4:3"
                  md-gutter="4px" md-gutter-sm="6px" md-gutter-md="8px" >
                <md-grid-tile ng-repeat="requested in user.social.requested" md-rowspan="2" md-colspan="4"
                    ng-click="showUser($event,requested.accounts.local.username)"
                    style='border: 1px solid rgba(70, 164, 181, 0.27); border-radius: 5px;'>
                  <md-content class='no-drag' layout-fill layout>
                    <div layout-fill>{{requested.accounts.local.username | camelcase:[0]}}</div>
                  </md-content>
                </md-grid-tile>
              </md-grid-list>
            </md-content>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <span>BLOCKED&nbsp;{{user.social.blocked.length}}</span>
          </md-tab-label>
          <md-tab-body>
            <md-content layout="column" layout-padding>
              <md-grid-list md-cols="5" md-cols-sm="16" md-cols-md="24" md-cols-gt-md="30" md-cols-gt-lg="36"
                  md-row-height-xs="2:1" md-row-height-sm="5:3" md-row-height-md="5:3" md-row-height-gt-md="4:3"
                  md-gutter="4px" md-gutter-sm="6px" md-gutter-md="8px" >
                <md-grid-tile ng-repeat="blocked in user.social.blocked" md-rowspan="2" md-colspan="4"
                    ng-click="showUser($event,blocked.accounts.local.username)"
                    style='border: 1px solid rgba(70, 164, 181, 0.27); border-radius: 5px;'>
                  <md-content class='no-drag' layout-fill layout>
                    <div layout-fill>{{blocked.accounts.local.username | camelcase:[0]}}</div>
                  </md-content>
                </md-grid-tile>
              </md-grid-list>
            </md-content>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    <div id="content" ui-view flex class='overflowscroll-y'></div>
</md-content>