<md-toolbar class="md-top-toolbar" layout='row' layout-nowrap layout-align='center center'>
    <md-button class="md-icon-button" aria-label="User options" ng-click="goTo('apps')">
        <span class='fa fa-th'></span>
        <md-tooltip md-direction="bottom" md-delay=10>Apps</md-tooltip>
    </md-button>
    <div layout-align='center center' flex><h4>Notifications</h4></div>
    <md-menu-bar layout='row' layout-align='center center'>
      <md-button class="md-icon-button" aria-label="Refresh" ng-click='getNotifications()'>
        <span class='fa fa-refresh'></span>
        <md-tooltip md-direction="bottom" md-delay=10>Refresh</md-tooltip>
      </md-button>
      <md-menu>
        <button class="md-icon-button" aria-label="User options" ng-click="$mdOpenMenu()">
          <span class="fa fa-user"></span>
          <md-tooltip md-direction="bottom" md-delay=10>User options</md-tooltip>
        </button>
        <md-menu-content width="2">
          <md-menu-item>
            <md-button ng-click="goTo('profile')" aria-label="My account" layout-align="start center" layout-fill>
              <span class="fa fa-user">&nbsp;My account</span>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>            
            <md-button ng-click="toggleLock()" aria-label="Lock Session" layout-align="start center" layout-fill>
              <span class="fa fa-lock">&nbsp;Lock Session</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>            
            <md-button ng-click="signOutOfDevice()" aria-label="Sign out" layout-align="start center" layout-fill>
              <span class="fa fa-sign-out">&nbsp;Sign Out</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          <ng-md-icon icon="more_vert" style="fill: white" size="24"></ng-md-icon>
          <md-tooltip md-direction="bottom" md-delay=10>More</md-tooltip>
        </button> 
        <md-menu-content width="0.5">
          <md-menu-item>            
            <md-button ng-click="goTo('settings.notifications',true)" aria-label="Notifications Settings" layout-align="center center"
                layout-fill>
              <span class="fa fa-cog">&nbsp;Settings</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>            
            <md-button ng-click="popup({scope: $scope,event: $event,templateUrl: '/templates/notifications/about.html'})" aria-label="About this app" layout-align="center center"
                layout-fill>
              <span class="fa fa-info-circle">&nbsp;Info</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
</md-toolbar>
<div id="notificationsviews" layout-fill>
  <md-tabs md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
    <md-tab>
      <md-tab-label>
        <span>UNREAD</span>
      </md-tab-label>
      <md-tab-body>
        <div id="unreadnotifications" class="notifications overscroll-y no-select" layout="column" layout-fill>
          <div class="notification" layout="column"
              ng-show="!notificationRead(notification)"
              ng-repeat="notification in notifications"
              ng-class="{'read': notificationRead(notification), 'unread': !notificationRead(notification)}"
              md-swipe-right="toggleReadStatus(notification)" md-swipe-left="toggleReadStatus(notification)">
            <div class='message' layout layout-fill layout-align="start center">
              <span class="fa" ng-class="{
                  'fa-lock':concernIs('security',notification),
                  'fa-users':concernIs('social',notification),
                  'fa-clip':concernIs('video',notification),
                  'fa-music':concernIs('music',notification),
                  'fa-cogs':concernIs('settings',notification)
                  }" layout-margin>
            </span>
            <h5>{{notification.message | camelcase:[0]}}</h5>
              <span flex></span>
              <span class="close fa" ng-click="toggleReadStatus(notification)"
                ng-class="{'fa-circle-o': notificationRead(notification), 
                  'fa-circle': !notificationRead(notification)}">
                <md-tooltip md-direction='left' md-delay=100>
                  <span ng-show="notificationRead(notification)">Mark as unread</span>
                  <span ng-hide="notificationRead(notification)">Mark as read</span>
                </md-tooltip>
              </span>
            </div>
            <div class="details" layout >
              <span class="timestamp">                
                <span>{{notification.time | time:[{timeformat: '12'}]}}</span>
              </span>
              <span flex></span>
              <span class="action" ng-if="notification.action != 'none'">
                <span class="times" 
                    ng-if="notification.action == 'confirm'"
                    ng-click="confirm(notification,false)">
                  <span class="fa fa-times"></span>
                </span>
                <span class="check" 
                    ng-if="notification.action == 'confirm'"
                    ng-click="confirm(notification,true)">
                  <span class="fa fa-check"></span>
                </span>
                <span class="view" 
                  ng-if="notification.action == 'view'"
                  ng-click="view(notification)">{{notification.action}}</span>
              </span>
            </div>
          </div>
         </div>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span>ALL</span>
      </md-tab-label>
      <md-tab-body>
        <div id="allnotifications" class="notifications overscroll-y no-select" layout="column" layout-fill>
          <div class="notification" layout="column"
              ng-repeat="notification in notifications"
              ng-class="{'read': notificationRead(notification), 'unread': !notificationRead(notification)}"
              md-swipe-right="toggleReadStatus(notification)" md-swipe-left="toggleReadStatus(notification)">
            <div class='message' layout layout-fill layout-align="start center">
              <span class="fa" ng-class="{
                  'fa-lock':concernIs('security',notification),
                  'fa-users':concernIs('social',notification),
                  'fa-clip':concernIs('video',notification),
                  'fa-music':concernIs('music',notification),
                  'fa-cogs':concernIs('settings',notification)
                  }" layout-margin>
            </span>
            <h5>{{notification.message | camelcase:[0]}}</h5>
              <span flex></span>
              <span class="close fa" ng-click="toggleReadStatus(notification)"
                ng-class="{'fa-circle-o': notificationRead(notification), 
                  'fa-circle': !notificationRead(notification)}">
                <md-tooltip md-direction='left' md-delay=100>
                  <span ng-show="notificationRead(notification)">Mark as unread</span>
                  <span ng-hide="notificationRead(notification)">Mark as read</span>
                </md-tooltip>
              </span>
            </div>
            <div class="details" layout >
              <span class="timestamp">                
                <span>{{notification.time | time:[{timeformat: '12'}]}}</span>
              </span>
              <span flex></span>
              <span class="action" ng-if="notification.action != 'none'">
                <span class="times" 
                    ng-if="notification.action == 'confirm'"
                    ng-click="confirm(notification,false)">
                  <span class="fa fa-times"></span>
                </span>
                <span class="check" 
                    ng-if="notification.action == 'confirm'"
                    ng-click="confirm(notification,true)">
                  <span class="fa fa-check"></span>
                </span>
                <span class="view" 
                  ng-if="notification.action == 'view'"
                  ng-click="view(notification)">{{notification.action}}</span>
              </span>
            </div>
          </div>
         </div>
      </md-tab-body>
    </md-tab>    
  </md-tabs>
</div>