<div id='notificationssettingsview' class='viewpart' layout-fill>
  <md-toolbar layout='row' layout-padding layout-align='center center' class="md-slim-toolbar">
    <h4>Notfication Settings</h4>
    <span flex></span>
    <md-button ng-if="!settings.apps.settings.misc.autosync" ng-click='saveSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-save'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Save Settings</md-tooltip>
    </md-button>
    <md-button ng-click='getSettings()' class='md-icon-button' aria-label='Save settings'>
      <span class='fa fa-refresh'></span>
      <md-tooltip md-direction="bottom" md-delay=10>Refresh Settings</md-tooltip>
    </md-button>
  </md-toolbar>
  <md-content layout='column' layout-fill>
    <md-tabs md-selected="state.views.settings.notifications" md-autoselect md-swipe-content md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Display</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show in launcher</h4>
                <p layout-wrap>Make this app visible in the app launcher.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.notifications.display.showinlauncher" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show in launcher?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Highlight Unread</h4>
                <p layout-wrap>Highlight unread notifications when viewing all notifications.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.notifications.display.highlightunread" layout-align="end center"
                ng-change="syncSettings()" aria-label="Highlight Unread?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Auto-mark as read</h4>
                <p layout-wrap>Mark unread notifications as read on viewing them. Deactivating this means you have to do it manually.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.notifications.display.markreadonview" layout-align="end center"
                ng-change="syncSettings()" aria-label="Auto-mark as read?">
              </md-switch>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Show quick actions</h4>
                <p layout-wrap>Toggle quick actions on each notification.</p>
              </div>
              <span flex></span>
              <md-switch class="md-primary" ng-model="settings.apps.notifications.display.quickactions" layout-align="end center"
                ng-change="syncSettings()" aria-label="Show quick actions?">
              </md-switch>
            </div>
            <md-divider></md-divider>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span style='color: blue;'>Fetch</span>
        </md-tab-label>
        <md-tab-body layout-padding>
          <md-content class="md-padding">
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Choose notifications</h4>
                <p layout-wrap>Toggle what you get notified about.</p>
              </div>
              <span flex></span>
              <md-select ng-model="settings.apps.notifications.fetch.filter" layout-align="end center"
                 class="md-primary" md-on-close="syncSettings()" aria-label="Choose notifications.">
                <md-option ng-value="user" ng-repeat="filter in filters" layout>
                  <md-checkbox ng-change='syncSettings()' ng-model="filter.on" aria-label="{{}}">
                  </md-checkbox>{{ filter }}
                </md-option>
              </md-select>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Choose notification frequency</h4>
                <p layout-wrap>Choose how often to check for new notifications.</p>
              </div>
              <span flex></span>
              <md-select ng-model="settings.apps.notifications.fetch.frequency" layout-align="end center"
                 class="md-primary" md-on-close="syncSettings()" aria-label="Choose notifications.">
                <md-option ng-value="frequency" ng-repeat="frequency in frequencies"></md-option>
              </md-select>
            </div>
            <md-divider></md-divider>
            <div flex layout='row' layout-nowrap>
              <div layout='column'>
                <h4>Fetch notifications from the last</h4>
                <p layout-wrap>Choose length of notifications fetched.</p>
              </div>
              <span flex></span>              
              <md-select ng-model="settings.apps.notifications.fetch.historylength" layout-align="end center"
                 class="md-primary" md-on-close="syncSettings()" aria-label="Choose notifications.">
                <md-option ng-value="length" ng-repeat="length in lengths"></md-option>
              </md-select>
            </div>
            <md-divider></md-divider>
          </md-content>
        </md-tab-body>
      </md-tab>      
    </md-tabs>
  </md-content>
</div>